---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Pricing from '~/components/widgets/Pricing.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Brands from '~/components/widgets/Brands.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Contact from '~/components/widgets/Contact.astro';

const metadata = {
  title: 'Schedule a Demo | Uppercut',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Schedule a consultation',
          href: 'https://www.tryuppercut.com/landing/schedule-a-demo',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

<Contact 
  title="Learn how we can increase your partner ROI"
  subtitle="Get a free no-obligation consultation where one of our experts will walk you through our proof-of-value demonstration and how we can help you grow your total partnership ROI."
  tagline="Schedule a proof-of-value demo"
  />
<style>.ap3w-embeddable-form-652c63a2f06b5ebf87565615{box-sizing:content-box;width:100%;font-size:16px;max-width:600px;max-height:100%;overflow:auto;background-color:#ffffff;border:2px solid transparent;box-shadow:0 0 10px 3px rgba(209,209,209,0.4);z-index:unset}.ap3w-embeddable-form-652c63a2f06b5ebf87565615:before{content:' ';display:block;position:absolute;pointer-events:none;left:0;top:0;width:100%;height:100%;opacity:0%;background-image:url();background-position:center center;background-size:cover;background-repeat:no-repeat}.ap3w-embeddable-form-content{margin:auto;padding:32px}.ap3w-embeddable-form-652c63a2f06b5ebf87565615-rounded{border-radius:12px}.ap3w-embeddable-form-652c63a2f06b5ebf87565615 .ap3w-text{margin-bottom:16px}.ap3w-embeddable-form-652c63a2f06b5ebf87565615 .ap3w-text *{padding-bottom:5px}.ap3w-text-652c63a2f06b5ebf87565615{position:relative;margin:0;margin-bottom:16px;word-wrap:break-word}.ap3w-text-652c63a2f06b5ebf87565615 *{margin:0;padding-bottom:8px}.ap3w-text-652c63a2f06b5ebf87565615 p{text-transform:unset;text-decoration:unset;text-indent:unset}.ap3w-text-652c63a2f06b5ebf87565615 p[data-size="h1"]{font-family:Roboto,Arial;font-size:30px;line-height:1.2;color:#101010;font-weight:700;font-style:normal}.ap3w-text-652c63a2f06b5ebf87565615 p[data-size="h2"]{font-family:Roboto,Arial;font-size:20px;line-height:1.2;color:#101010;font-weight:700;font-style:normal}.ap3w-text-652c63a2f06b5ebf87565615 p[data-size="h3"]{font-family:Roboto,Arial;font-size:17px;line-height:1.2;color:#101010;font-weight:700;font-style:normal}.ap3w-text-652c63a2f06b5ebf87565615 p[data-size="h4"]{font-family:Roboto,Arial;font-size:14px;line-height:1.2;color:#101010;font-weight:700;font-style:normal}.ap3w-text-652c63a2f06b5ebf87565615 p[data-size="h5"]{font-family:Roboto,Arial;font-size:12px;line-height:1.2;color:#101010;font-weight:700;font-style:normal}.ap3w-text-652c63a2f06b5ebf87565615 p[data-size="h6"]{font-family:Roboto,Arial;font-size:12px;line-height:1.2;color:#101010;font-weight:700;font-style:normal}.ap3w-text-652c63a2f06b5ebf87565615 p{font-family:Roboto,Arial;font-size:14px;line-height:1.2;color:#101010;font-weight:400;font-style:normal}.ap3w-text-652c63a2f06b5ebf87565615 p[data-size="large"]{font-family:Roboto,Arial;font-size:17px;line-height:1.2;color:#101010;font-weight:400;font-style:normal}.ap3w-text-652c63a2f06b5ebf87565615 p[data-size="small"]{font-family:Roboto,Arial;font-size:12px;line-height:1.2;color:#101010;font-weight:400;font-style:normal}.ap3w-form-input-652c63a2f06b5ebf87565615{position:relative;margin-bottom:20px}.ap3w-form-input-652c63a2f06b5ebf87565615 input{margin-top:8px;box-sizing:border-box;width:100%;background-color:#FFFFFF;border:1px solid #e5e7eb;color:#000000;outline:none;font-family:Roboto,Arial;font-weight:400;font-style:normal;font-size:14px;line-height:1.2;padding:10px 16px;resize:none;border-radius:4px}.ap3w-form-input-652c63a2f06b5ebf87565615 .ap3w-form-input-label{font-weight:bold;color:#000000;font-family:Roboto,Arial;font-size:14px;line-height:1.2}.ap3w-form-input-652c63a2f06b5ebf87565615 input[type="date"]{-webkit-appearance:none;-moz-appearance:none}.ap3w-form-input-652c63a2f06b5ebf87565615 input[type="date"]::-webkit-date-and-time-value{height:22px}.ap3w-form-input-652c63a2f06b5ebf87565615{position:relative;margin-bottom:20px}.ap3w-form-input-652c63a2f06b5ebf87565615 input{margin-top:8px;box-sizing:border-box;width:100%;background-color:#FFFFFF;border:1px solid #e5e7eb;color:#000000;outline:none;font-family:Roboto,Arial;font-weight:400;font-style:normal;font-size:14px;line-height:1.2;padding:10px 16px;resize:none;border-radius:4px}.ap3w-form-input-652c63a2f06b5ebf87565615 .ap3w-form-input-label{font-weight:bold;color:#000000;font-family:Roboto,Arial;font-size:14px;line-height:1.2}.ap3w-form-input-652c63a2f06b5ebf87565615 input[type="date"]{-webkit-appearance:none;-moz-appearance:none}.ap3w-form-input-652c63a2f06b5ebf87565615 input[type="date"]::-webkit-date-and-time-value{height:22px}.ap3w-form-input-652c63a2f06b5ebf87565615{position:relative;margin-bottom:20px}.ap3w-form-input-652c63a2f06b5ebf87565615 input{margin-top:8px;box-sizing:border-box;width:100%;background-color:#FFFFFF;border:1px solid #e5e7eb;color:#000000;outline:none;font-family:Roboto,Arial;font-weight:400;font-style:normal;font-size:14px;line-height:1.2;padding:10px 16px;resize:none;border-radius:4px}.ap3w-form-input-652c63a2f06b5ebf87565615 .ap3w-form-input-label{font-weight:bold;color:#000000;font-family:Roboto,Arial;font-size:14px;line-height:1.2}.ap3w-form-input-652c63a2f06b5ebf87565615 input[type="date"]{-webkit-appearance:none;-moz-appearance:none}.ap3w-form-input-652c63a2f06b5ebf87565615 input[type="date"]::-webkit-date-and-time-value{height:22px}.ap3w-form-input-652c63a2f06b5ebf87565615{position:relative;margin-bottom:20px}.ap3w-form-input-652c63a2f06b5ebf87565615 input{margin-top:8px;box-sizing:border-box;width:100%;background-color:#FFFFFF;border:1px solid #e5e7eb;color:#000000;outline:none;font-family:Roboto,Arial;font-weight:400;font-style:normal;font-size:14px;line-height:1.2;padding:10px 16px;resize:none;border-radius:4px}.ap3w-form-input-652c63a2f06b5ebf87565615 .ap3w-form-input-label{font-weight:bold;color:#000000;font-family:Roboto,Arial;font-size:14px;line-height:1.2}.ap3w-form-input-652c63a2f06b5ebf87565615 input[type="date"]{-webkit-appearance:none;-moz-appearance:none}.ap3w-form-input-652c63a2f06b5ebf87565615 input[type="date"]::-webkit-date-and-time-value{height:22px}.ap3w-form-input-652c63a2f06b5ebf87565615{position:relative;margin-bottom:20px}.ap3w-form-input-652c63a2f06b5ebf87565615 input{margin-top:8px;box-sizing:border-box;width:100%;background-color:#FFFFFF;border:1px solid #e5e7eb;color:#000000;outline:none;font-family:Roboto,Arial;font-weight:400;font-style:normal;font-size:14px;line-height:1.2;padding:10px 16px;resize:none;border-radius:4px}.ap3w-form-input-652c63a2f06b5ebf87565615 .ap3w-form-input-label{font-weight:bold;color:#000000;font-family:Roboto,Arial;font-size:14px;line-height:1.2}.ap3w-form-input-652c63a2f06b5ebf87565615 input[type="date"]{-webkit-appearance:none;-moz-appearance:none}.ap3w-form-input-652c63a2f06b5ebf87565615 input[type="date"]::-webkit-date-and-time-value{height:22px}.ap3w-input-select-652c63a2f06b5ebf87565615{position:relative;margin-bottom:20px}.ap3w-input-select-652c63a2f06b5ebf87565615 .ap3w-form-input-select-button{box-sizing:border-box;width:100%;cursor:pointer;margin-top:8px;min-width:100px;background-color:#FFFFFF;border:1px solid #e5e7eb;color:#000000;outline:none;font-family:Roboto,Arial;font-weight:400;font-style:normal;font-size:14px;line-height:1.2;padding:11px 16px;text-align:left;-webkit-appearance:none;appearance:none;-moz-appearance:none;background-image:url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");background-repeat:no-repeat;background-position-x:98%;background-position-y:50%;border-radius:4px}.ap3w-input-select-652c63a2f06b5ebf87565615 .ap3w-form-input-select-list{box-sizing:border-box;border:1px solid #e5e7eb;border-radius:4px;max-height:300px;position:absolute;background:#FFFFFF;width:100%;z-index:2;overflow:auto}.ap3w-input-select-652c63a2f06b5ebf87565615 .ap3w-form-input-select-list-hide{display:none}.ap3w-input-select-652c63a2f06b5ebf87565615 .ap3w-form-input-select-option{cursor:pointer;padding:5px 10px;font-family:Roboto,Arial;font-weight:400;font-style:normal;color:#000000;display:flex;align-items:center}.ap3w-input-select-652c63a2f06b5ebf87565615 .ap3w-form-input-select-button[value="Select an option"]{color:#404040}.ap3w-input-select-652c63a2f06b5ebf87565615 .ap3w-form-input-select-option:hover{background-color:#ffffff}.ap3w-input-select-652c63a2f06b5ebf87565615 .ap3w-form-input-select-option input{cursor:pointer}.ap3w-input-select-652c63a2f06b5ebf87565615 .ap3w-form-input-select-option label{cursor:pointer;margin-left:5px}.ap3w-input-select-652c63a2f06b5ebf87565615 .ap3w-form-select-label{font-weight:bold;color:#000000;font-family:Roboto,Arial;font-size:14px;line-height:1.2}.ap3w-input-select-652c63a2f06b5ebf87565615{position:relative;margin-bottom:20px}.ap3w-input-select-652c63a2f06b5ebf87565615 .ap3w-form-input-select-button{box-sizing:border-box;width:100%;cursor:pointer;margin-top:8px;min-width:100px;background-color:#FFFFFF;border:1px solid #e5e7eb;color:#000000;outline:none;font-family:Roboto,Arial;font-weight:400;font-style:normal;font-size:14px;line-height:1.2;padding:11px 16px;text-align:left;-webkit-appearance:none;appearance:none;-moz-appearance:none;background-image:url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");background-repeat:no-repeat;background-position-x:98%;background-position-y:50%;border-radius:4px}.ap3w-input-select-652c63a2f06b5ebf87565615 .ap3w-form-input-select-list{box-sizing:border-box;border:1px solid #e5e7eb;border-radius:4px;max-height:300px;position:absolute;background:#FFFFFF;width:100%;z-index:2;overflow:auto}.ap3w-input-select-652c63a2f06b5ebf87565615 .ap3w-form-input-select-list-hide{display:none}.ap3w-input-select-652c63a2f06b5ebf87565615 .ap3w-form-input-select-option{cursor:pointer;padding:5px 10px;font-family:Roboto,Arial;font-weight:400;font-style:normal;color:#000000;display:flex;align-items:center}.ap3w-input-select-652c63a2f06b5ebf87565615 .ap3w-form-input-select-button[value="Select an option"]{color:#404040}.ap3w-input-select-652c63a2f06b5ebf87565615 .ap3w-form-input-select-option:hover{background-color:#ffffff}.ap3w-input-select-652c63a2f06b5ebf87565615 .ap3w-form-input-select-option input{cursor:pointer}.ap3w-input-select-652c63a2f06b5ebf87565615 .ap3w-form-input-select-option label{cursor:pointer;margin-left:5px}.ap3w-input-select-652c63a2f06b5ebf87565615 .ap3w-form-select-label{font-weight:bold;color:#000000;font-family:Roboto,Arial;font-size:14px;line-height:1.2}.ap3w-recaptcha{display:flex;flex-direction:column;margin-bottom:12px;margin-right:4px}.ap3w-form-button-652c63a2f06b5ebf87565615 button{position:relative;cursor:pointer;padding:10px;font-weight:bold;outline:none;border:2px solid #e5e7eb;color:#101010;background-color:#fc4e6b;font-family:Roboto,Arial;font-size:14px;line-height:1.2;border-radius:4px;flex:1}.ap3w-checkbox{overflow:hidden;margin-top:24px;display:flex;align-items:center}.ap3w-checkbox__inner{position:relative;display:flex;max-width:100%;align-items:flex-start}.ap3w-checkbox input[type="checkbox"]{margin:0;padding:0;opacity:0.0;cursor:pointer;width:13px;height:13px;flex-shrink:0}.ap3w-checkbox input[type="checkbox"]+span{position:absolute;box-sizing:border-box;left:0;width:14px;height:14px;border-radius:1px;border:2px solid #e5e7eb;pointer-events:none}.ap3w-checkbox input[type="checkbox"]+span svg{position:absolute;top:0;left:0;opacity:0;fill:#e5e7eb}.ap3w-checkbox input[type="checkbox"]:checked+span svg{opacity:1}.ap3w-checkbox__text{padding-left:10px;font-size:14px;line-height:16px}.ap3w-checkbox__text,.ap3w-checkbox__text p{font-family:Roboto,Arial;font-weight:400;font-style:normal;color:#101010;margin:0}</style><div style="width: 100%; height: 100%;" id="652c63a2f06b5ebf87565615"><div id="652c63a2f06b5ebf87565615-form" class="652c63a2f06b5ebf87565615-template" style="position: relative; display: flex; height: 100%; align-items: center; justify-content: center;"><div id="selected-_0n8cyh8ix" class=" ap3w-embeddable-form-652c63a2f06b5ebf87565615 ap3w-embeddable-form-652c63a2f06b5ebf87565615-full ap3w-embeddable-form-652c63a2f06b5ebf87565615-rounded " data-select="true"><form id="ap3w-embeddable-form-652c63a2f06b5ebf87565615" class="ap3w-embeddable-form-content"><div id="selected-_0o2sm0lkf" class="ap3w-text ap3w-text-652c63a2f06b5ebf87565615 ap3w-text--first "><div data-select="true"><p data-size="h1">Schedule your POV demo now</p></div></div><div id="selected-_ntnbc9iwx" class="ap3w-form-input ap3w-form-input-652c63a2f06b5ebf87565615" data-select="true" data-field-id="str::first" data-merge-strategy="override" data-pre-fill-option="dont_pre_fill"><label for="ap3w-form-input-text-652c63a2f06b5ebf87565615" class="ap3w-form-input-label">First name</label><input type="text" id="ap3w-form-input-text-652c63a2f06b5ebf87565615" step="1" name="first_name"/></div><div id="selected-_e3ck9q8v7" class="ap3w-form-input ap3w-form-input-652c63a2f06b5ebf87565615" data-select="true" data-field-id="str::last" data-merge-strategy="override" data-pre-fill-option="dont_pre_fill"><label for="ap3w-form-input-text-652c63a2f06b5ebf87565615" class="ap3w-form-input-label">Last name</label><input type="text" id="ap3w-form-input-text-652c63a2f06b5ebf87565615" step="1" name="last_name"/></div><div id="selected-_1znv54lrb" class="ap3w-form-input ap3w-form-input-652c63a2f06b5ebf87565615" data-select="true" data-field-id="str::email" data-merge-strategy="override" data-pre-fill-option="dont_pre_fill"><label for="ap3w-form-input-email-652c63a2f06b5ebf87565615" class="ap3w-form-input-label">Email address*</label><input type="email" id="ap3w-form-input-email-652c63a2f06b5ebf87565615" step="1" name="email" required=""/></div><div id="selected-_hrc4wg8pi" class="ap3w-form-input ap3w-form-input-652c63a2f06b5ebf87565615" data-select="true" data-field-id="str:cm:company-name" data-merge-strategy="override" data-pre-fill-option="dont_pre_fill"><label for="ap3w-form-input-text-652c63a2f06b5ebf87565615" class="ap3w-form-input-label">Company Name</label><input type="text" id="ap3w-form-input-text-652c63a2f06b5ebf87565615" step="1" name="Company Name"/></div><div id="selected-_yxruwi0nj" class="ap3w-form-input ap3w-form-input-652c63a2f06b5ebf87565615" data-select="true" data-field-id="str:cm:company-url" data-merge-strategy="override" data-pre-fill-option="dont_pre_fill"><label for="ap3w-form-input-undefined-652c63a2f06b5ebf87565615" class="ap3w-form-input-label">Company URL</label><input id="ap3w-form-input-undefined-652c63a2f06b5ebf87565615" step="1" name="Company URL"/></div><div class="ap3w-form-input ap3w-input-select-652c63a2f06b5ebf87565615" data-field-id="str:cm:ecosytem-size" data-merge-strategy="override" data-pre-fill-option="dont_pre_fill"><label class="ap3w-form-select-label" for="ap3w-form-input-single_select-652c63a2f06b5ebf87565615">How many partners are in your ecosystem?</label><button type="button" class="ap3w-form-input-select-button" id="ap3w-input-select-button-652c63a2f06b5ebf87565615" value="Select an option" data-placeholder="Select an option" data-required="false" name="single_select">Select an option</button><div id="ap3w-input-select-list-652c63a2f06b5ebf87565615" class="ap3w-form-input-select-list ap3w-form-input-select-list-652c63a2f06b5ebf87565615 ap3w-form-input-select-list-hide" data-select-type="single_select" data-list-id="8fe40fdd-76a7-49b1-b29a-6147bfa2f346" data-required="false"><div class="ap3w-form-input-select-option ap3w-form-input-select-option-652c63a2f06b5ebf87565615" data-value="0-50"><label>0-50</label></div><div class="ap3w-form-input-select-option ap3w-form-input-select-option-652c63a2f06b5ebf87565615" data-value="51-200"><label>51-200</label></div><div class="ap3w-form-input-select-option ap3w-form-input-select-option-652c63a2f06b5ebf87565615" data-value="201-500"><label>201-500</label></div><div class="ap3w-form-input-select-option ap3w-form-input-select-option-652c63a2f06b5ebf87565615" data-value="501-1000"><label>501-1000</label></div><div class="ap3w-form-input-select-option ap3w-form-input-select-option-652c63a2f06b5ebf87565615" data-value="1001-5000"><label>1001-5000</label></div><div class="ap3w-form-input-select-option ap3w-form-input-select-option-652c63a2f06b5ebf87565615" data-value="5000+"><label>5000+</label></div></div></div><div class="ap3w-form-input ap3w-input-select-652c63a2f06b5ebf87565615" data-field-id="str:cm:pain-point" data-merge-strategy="override" data-pre-fill-option="dont_pre_fill"><label class="ap3w-form-select-label" for="ap3w-form-input-single_select-652c63a2f06b5ebf87565615">What is your current partner success priority?</label><button type="button" class="ap3w-form-input-select-button" id="ap3w-input-select-button-652c63a2f06b5ebf87565615" value="Select an option" data-placeholder="Select an option" data-required="false" name="single_select">Select an option</button><div id="ap3w-input-select-list-652c63a2f06b5ebf87565615" class="ap3w-form-input-select-list ap3w-form-input-select-list-652c63a2f06b5ebf87565615 ap3w-form-input-select-list-hide" data-select-type="single_select" data-list-id="7cf483c6-ae53-4e77-b604-594315a9f8e7" data-required="false"><div class="ap3w-form-input-select-option ap3w-form-input-select-option-652c63a2f06b5ebf87565615" data-value="Revenue Attribution"><label>Revenue Attribution</label></div><div class="ap3w-form-input-select-option ap3w-form-input-select-option-652c63a2f06b5ebf87565615" data-value="Collaborative Sales"><label>Collaborative Sales</label></div><div class="ap3w-form-input-select-option ap3w-form-input-select-option-652c63a2f06b5ebf87565615" data-value="Co-marketing and Events"><label>Co-marketing and Events</label></div><div class="ap3w-form-input-select-option ap3w-form-input-select-option-652c63a2f06b5ebf87565615" data-value="Operational Bandwidth"><label>Operational Bandwidth</label></div><div class="ap3w-form-input-select-option ap3w-form-input-select-option-652c63a2f06b5ebf87565615" data-value="Partner Discovery"><label>Partner Discovery</label></div><div class="ap3w-form-input-select-option ap3w-form-input-select-option-652c63a2f06b5ebf87565615" data-value="Tool Analysis"><label>Tool Analysis</label></div></div></div><div class="ap3w-recaptcha"><div><div id="ap3w-recaptcha-v2-652c63a2f06b5ebf87565615"></div><p id="ap3w-recaptcha-required-652c63a2f06b5ebf87565615" class="ap3w-recaptcha-required" style="margin-left:2px">reCaptcha is required*</p></div></div><div id="selected-_2c5w4myf5" class=" ap3w-form-button ap3w-form-button-652c63a2f06b5ebf87565615 "><button id="ap3w-form-button-652c63a2f06b5ebf87565615" type="submit" data-select="true" data-button-on-click="go-to-url" data-button-submit-url="https://calendly.com/jbohrman/30min">Schedule POV Session</button></div><div class="ap3w-checkbox"><div class="ap3w-checkbox__inner"><input type="checkbox" id="ap3w-input-checkbox-652c63a2f06b5ebf87565615" name="check" required=""/><span><svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M6.226 14.095c-.252 0-.497-.096-.683-.27L1.432 9.984a1 1 0 111.365-1.461l3.289 3.073 6.99-9.514a.999.999 0 111.61 1.185l-7.654 10.42a1.003 1.003 0 01-.806.408"></path></svg></span><span class="ap3w-checkbox__text"><p>By submitting this form I aknowledge that Uppercut may reach out to me about partner success related services. I also aknowledge that Uppercut may share my info with their ecosystem for relevant offers. </p></span></div></div></form></div></div></div>
  <Features
    id="features"
    title="What we'll cover in your POV demonstration"
    subtitle="In your free proof-of-value demo, we'll cover the following:"
    columns={2}
    items={[
      {
        title: 'Tooling and Processes',
        description:
          'We will walk you through our tooling and processes to help you understand how we can help you grow your partnership program.',
        icon: 'tabler:coin',
      },
      {
        title: 'Our client experience',
        description: `We will dive into what it means to be an Uppercut customer and the experience you can expect when working with us`,
        icon: 'tabler:speakerphone',
      },
      {
        title: 'Potential Deliverables',
        description:
          'We will walk you through our potential deliverables to help you understand how we can help you enable your partner success.',
        icon: 'tabler:building-store',
      },
      {
        title: '360° Partnership ROI Analysis',
        description: `We'll walk you through our 360° Partnership ROI Analysis to help you identify exactly where we will be able to help you grow your partnership revenue.`,
        icon: 'tabler:arrows-right-left',
      },
    ]}
  />

  <Brands
  title="Our Ecosystem"
  subtitle="You'll be in good company by partnering with us."
  icons={[]}
  images={[
    {
      src: 'https://asset.brandfetch.io/idxuuy3Q6N/idqlW_e7vT.svg?updated=1693817335844',
      alt: 'Reveal',
    },
    {
      src: 'https://asset.brandfetch.io/id_C9D4CU1/idAaahqnQ9.svg?updated=1691589700372',
      alt: 'Mindmatrix',
    },
    {
      src: 'https://cdn.worldvectorlogo.com/logos/segment-1.svg',
      alt: 'Segment',
    },
    {
      src: 'https://asset.brandfetch.io/idN7LWxlVW/idf8mSWHHu.svg?updated=1667893223850',
      alt: 'Branch',
    },
    {
      src: 'https://asset.brandfetch.io/idPfQccWRj/idsjGEoe2J.svg?updated=1667562745492',
      alt: 'Clearbit',
    },
    {
      src: 'https://asset.brandfetch.io/idVE84WdIN/iduMSR2RvZ.svg?updated=1667559911541',
      alt: 'Salesforce',
    },
    {
      src: 'https://asset.brandfetch.io/idNMs_nMA0/idDC3DWoZ8.svg?updated=1667563370508',
      alt: 'Zapier',
    },
    {
      src: 'https://asset.brandfetch.io/idninYwdlo/idQdpo_vnx.svg?updated=1694687718831',
      alt: 'Crossbeam',
    },
  ]}
/>

  <!-- Content Widget ****************

  <Content
    title="Use cases"
    subtitle="Discover how AstroWind's versatile template serves as the ideal solution for various use cases, providing tailored solutions to drive success."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Are you a startup with big dreams? AstroWind propels your success. Our template forges a seamless online presence, attracting investors and customers from day one. Astro 3.0 and Tailwind CSS ensure striking, responsive sites, leaving lasting impressions. Countless startups leverage AstroWind to kickstart their journey and resonate with audiences.',
      },
      {
        title: 'Benefits:',
        description: `Allow startups to quickly create professional websites without investing extensive time and resources. <br /> Make a memorable first impression with visually appealing design elements that highlight your startup's unique value proposition. <br /> Ensures your website looks stunning and works well on all devices. <br /> Engage potential investors and customers with engaging content, clear messaging, and intuitive navigation.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1620558138198-cfb9b4f3c294?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1671&q=80',
      alt: 'Startup Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Startup success stories: <br /><span class="text-2xl">Launching with AstroWind</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** 

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `For SaaS businesses, user experience is key. AstroWind enhances showcasing SaaS solutions intuitively. The template's Astro 3.0 and Tailwind CSS integration guarantees user-friendly experience, mirroring your software's efficiency. Customize pages to communicate SaaS value and solutions for your audience.`,
      },
      {
        title: 'Benefits:',
        description: `Ensuring a cohesive and user-centric design for your SaaS website. <br /> Effectively communicate complex SaaS features through visual aids, animations, and interactive elements. <br /> Prioritize user needs and pain points through well-structured layouts and clear navigation. <br /> Encourage visitors to take action with strategically placed CTAs. <br /> Ensures your SaaS website works seamlessly across all devices.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1531973486364-5fa64260d75b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1658&q=80',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        SaaS showcase: <br /><span class="text-2xl">Streamlining user experience</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** 

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Your portfolio is your masterpiece, and AstroWind is your canvas. Whether you're a designer, photographer, artist, or any other creative professional, AstroWind empowers you to showcase your work with elegance and sophistication. Tailored to highlight your creative projects, AstroWind's templates offer a visually immersive experience that lets your portfolio shine.`,
      },
      {
        title: 'Benefits:',
        description: `Serve as a captivating backdrop to showcase your creative work, capturing attention and leaving a lasting impression. <br /> Tailor your portfolio to reflect your unique style and artistic vision. <br /> Prioritizes visuals, allowing you to present your work in high-resolution detail that draws viewers into your creations. <br /> Enables seamless navigation for effortless portfolio exploration.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1635070041078-e363dbe005cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Portfolio Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Creative portfolios: <br /><span class="text-2xl">Highlighting your work</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** 

  <Content
    items={[
      {
        title: 'Description:',
        description: `For small businesses, a well-crafted website can be a game-changer. AstroWind empowers small businesses to not only establish a credible online presence but also convert visitors into loyal customers. The template's thoughtful design and optimization features ensure that your website doesn't just attract attention but also guides visitors through a seamless journey, ultimately leading to conversions.`,
      },
      {
        title: 'Benefits:',
        description: `Present your small business with a professional and polished website that instills confidence and trust among visitors. <br /> Strategically placed CTAs, user-friendly forms, and optimized layouts work together to drive user engagement and conversions. <br /> Ensure a smooth browsing experience, reducing bounce rates and encouraging interaction.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1514621166532-aa7eb1a3a2f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Small Business Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Small business growth: <br /><span class="text-2xl">Converting visitors into customers</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Pricing Widget *******************

  <Pricing
    title="Flexible pricing plans"
    prices={[
      {
        title: 'free',
        subtitle: 'Access to core features and a wide range of templates',
        price: '0',
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: 'Get Started for Free',
          href: '#',
        },
      },
      {
        title: 'pro',
        subtitle: 'Premium templates and advanced customization',
        price: 15,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Upgrade to Pro',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Enterprise',
        subtitle: 'Tailored solutions for large-scale projects',
        price: 45,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Unlock Enterprise Features',
          href: '#',
        },
      },
    ]}
  />-->

  <!-- FAQs Widget *******************

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'What kinds of experiences do you enable?',
        description:
          'Uppercut helps organizations set up a variety of partner experiences, but we specialize in whole-ecosystem experiences that allow partners from different organizations to collaborate and work together. This in turn facilitates the creation of tight collaboration networks that turn into all types of positive outcomes.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Is an "experience" just a fancy word for webinar?',
        description: `It can be! Depends in the situatiion. For some clients it can be as unique as a virtual game night, or as simple as a webinar. We're here to help you figure out what works best for your organization. There's a whole world of possibilities out there.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Do you plan in-person experiences?',
        description:
          'At this time, we do not, but it is something we are exploring for the future. We are currently focused on virtual experiences, but we are happy to help you plan an in-person experience with one of our partners.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'What does this cost?',
        description: `As always, it depends. We have a variety of pricing options depending on the type of experience you're looking to create. We're happy to discuss pricing with you during our initial consultation.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#FFEDF4] dark:bg-transparent"></div>
    </Fragment>
  </FAQs>-->

  <!-- Steps2 Widget ****************** -->

  <CallToAction
    actions={[{
      variant: "primary",
      target: '_blank',
      id: 'partner-chat',
      text: 'Chat with us instantly',
      href: 'https://wa.me/message/DUSWAIWLJG6DO1',
      icon: 'tabler:brand-whatsapp',
    },]}
  >
    <Fragment slot="title">Learn how we can boost your partner ROI</Fragment>

    <Fragment slot="subtitle">
      Chat with a member of our team to learn more about our client experience and how we can help you grow.
    </Fragment>
  </CallToAction>

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Stay informed with Uppercut's blog"
    information={`Explore our collection of articles, guides, and tutorials on partner operations, and effectively building partner relationships.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#FFEDF4] dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
