---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Get a month of Partner Ops risk-free"
  description="We're offering a super exclusive deal to the first 100 people who schedule a consultation with us. We're offering a month of partner ops risk free."
  image="https://www.tryuppercut.com/consultation.png"
  url="https://www.tryuppercut.com/consultation"
>
<section class="p-t-14 p-b-14 dark-bg-black">
  <div class="container container-xl m-b-16">
        <div class="container container-xl">
          <div class="split-screen items-center">
            <div class="flex flex-column xs-m-b-8 md-m-b-0 md-m-r-8 md-w-50">
              <h2 class="m-b-6 font-semibold">
                Interested in recieving $5600 worth of partner ops <span class="magenta-400 dark-magenta-50">risk free</span>?
              </h2>
              <p class="m-b-6 m-r-4">
                We're offering a super exclusive deal to the first 100 people who schedule a consultation with us. We're offering our Strategy and IPP service risk free, as well as:
              </p>
              <!--advantages-->
              <div class="flex flex-column m-b-8">
                <div class="flex items-center m-b-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="ai ai-Check m-r-3 magenta-600 dark-magenta-300"
                  >
                    <title>Agency case study blog item icon</title>
                    <path d="M4 12l6 6L20 6"></path>
                  </svg>
                  <p>
                    20+ potential partner relationships
                  </p>
                </div>
                <div class="flex items-center m-b-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="ai ai-Check m-r-3 magenta-600 dark-magenta-300"
                  >
                    <path d="M4 12l6 6L20 6"></path>
                  </svg>
                  <p>
                    Exclusive templates and resources
                  </p>
                </div>
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="ai ai-Check m-r-3 magenta-600 dark-magenta-300"
                  >
                    <title>Agency case study blog item icon</title>
                    <path d="M4 12l6 6L20 6"></path>
                  </svg>
                  <p>
                    Discounts on partner software
                  </p>
                </div>
              </div>
            </div>
            <div class="cf-cta-snippet cta152387" data-website-id="55786" data-cta-id="152387"></div>
            <script>
            if (!window.convertflow) {
              var script = document.createElement("script"); 
              script.async = true;
              script.src = "https://js.convertflow.co/production/websites/55786.js"; 
              document.body.appendChild(script); 
            };
            </script>                       
          </div>
        </div>
      </section> 
            <section class="xs-p-y-16 md-p-y-40 bg-magenta-50 dark-bg-gray-800">
              <div class="container container-xl">
                <h3 class="h2 m-b-8">Launch a flawless partner experience for half the commitment</h3>
                <!--Services-->
                <div class="grid xs-grid-cols-1 sm-grid-cols-2 xl-grid-cols-3 gap-6">
                  <article
                    class="card p-7 bg-white dark-bg-gray-700 dark-bg-gray-700 justify-center"
                  >
                    <span
                      class="badge-icon badge-icon-md m-b-2 bg-magenta-100 dark-bg-gray-600 m-b-4 magenta-600 dark-blue-200"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-gauge-filled" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-.293 3.953a1 1 0 0 0 -1.414 0l-2.59 2.59l-.083 .094l-.068 .1a2.001 2.001 0 0 0 -2.547 1.774l-.005 .149l.005 .15a2 2 0 1 0 3.917 -.701a.968 .968 0 0 0 .195 -.152l2.59 -2.59l.083 -.094a1 1 0 0 0 -.083 -1.32zm-4.707 -1.293a6 6 0 0 0 -6 6a1 1 0 0 0 2 0a4 4 0 0 1 4 -4a1 1 0 0 0 0 -2z" stroke-width="0" fill="currentColor"></path>
                   </svg>
                    </span>
                    <div class="flex flex-column">
                      <h3 class="h5 m-b-2">Transparent metrics</h3>
                      <p class="subtitle">
                       We always keep our clients in the loop as far as metrics and progress. We use a variety of tools to track and report on progress.
                      </p>
                    </div>
                  </article>
                  <article class="card p-7 bg-white dark-bg-gray-700">
                    <span
                      class="badge-icon badge-icon-md m-b-2 bg-magenta-100 dark-bg-gray-600 m-b-4 magenta-600 dark-blue-200"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-key" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M14 10m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                      <path d="M21 12a9 9 0 1 1 -18 0a9 9 0 0 1 18 0z"></path>
                      <path d="M12.5 11.5l-4 4l1.5 1.5"></path>
                      <path d="M12 15l-1.5 -1.5"></path>
                   </svg>
                    </span>
                    <div class="flex flex-column">
                      <h3 class="h5 m-b-2">Turnkey support</h3>
                      <p class="subtitle">
                        Our support and collaboration is practically turnkey. You won't have to add any extra meetings except a weekly checkin.
                      </p>
                    </div>
                  </article>
                  <article class="card p-7 bg-white dark-bg-gray-700 m-b-4">
                    <span
                      class="badge-icon badge-icon-md m-b-2 bg-magenta-100 dark-bg-gray-600 m-b-4 magenta-600 dark-blue-200"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-affiliate-filled" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M18.5 3a2.5 2.5 0 1 1 -.912 4.828l-4.556 4.555a5.475 5.475 0 0 1 .936 3.714l2.624 .787a2.5 2.5 0 1 1 -.575 1.916l-2.623 -.788a5.5 5.5 0 0 1 -10.39 -2.29l-.004 -.222l.004 -.221a5.5 5.5 0 0 1 2.984 -4.673l-.788 -2.624a2.498 2.498 0 0 1 -2.194 -2.304l-.006 -.178l.005 -.164a2.5 2.5 0 1 1 4.111 2.071l.787 2.625a5.475 5.475 0 0 1 3.714 .936l4.555 -4.556a2.487 2.487 0 0 1 -.167 -.748l-.005 -.164l.005 -.164a2.5 2.5 0 0 1 2.495 -2.336z" stroke-width="0" fill="currentColor"></path>
                   </svg>
                    </span>
                    <div class="flex flex-column">
                      <h3 class="h5 m-b-2 font-bold">Expansive network</h3>
                      <p class="subtitle">
                      We have a network of over 1000+ partner professionals that we work with on a daily basis that are always to exchange value.
                      </p>
                    </div>
                  </article>
                </div>
              </div>
            </section>
        <section class="p-t-14 p-b-14 bg-gray-100">
        <div class="container m-t-6 container-xl m-b-16">
          <!-- Split Screen with SVG Images -->
          <h3 class="h2 m-b-8">Our approach to Partnerships</h3>
          <!--Services-->
          <div class="split-screen items-start">
            <div class="split-content">
              <h2 class="h4 p-b-4 xs-p-t-6 font-bold xs-m-b-4 md-m-b-0 md-m-r-12">Collaboration workshops</h2>
              <h3 class="h5 font-default xs-m-b-8  md-m-b-0 md-m-r-12">
                  We always run bi-weekly <span class="magenta-400 font-bold dark-magenta-50">collaboration</span> workshops between our clients and our partners to find opportunities to exchange value.
              </h3>
            </div>
            <div class="split-content">
              <h2 class="h4 p-b-4 font-bold xs-p-t-6 xs-m-b-4 md-m-b-0 md-m-r-12">Turnkey PX</h2>
              <h3 class="h5 font-default">
                We want your partner experience to be a <span class="magenta-400 font-bold dark-magenta-50">well oiled machine</span> that drives revenue from both influenced and sourced deals.
              </h3>
            </div>
          </div>
        </div>
      </section> 
      <style>
      .wordmarks-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }

      .wordmark {
        width: 150px; /* Set the desired width */
        height: 150px; /* Set the desired height */
        filter: grayscale(100%);
        margin: 0 15px;
      }
      </style>
    </div>
  </div>
</Layout>
