---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Get a month of Partner Ops risk-free"
  description="We're offering a super exclusive deal to the first 100 people who schedule a consultation with us. We're offering a month of partner ops risk free."
  image="https://www.tryuppercut.com/consultation.png"
  url="https://www.tryuppercut.com/consultation"
>
<section class="p-t-14 p-b-14 dark-bg-black">
  <div class="container container-xl m-b-16">
        <div class="container container-xl">
          <div class="split-screen items-center">
            <div class="flex flex-column xs-m-b-8 md-m-b-0 md-m-r-8 md-w-50">
              <h2 class="m-b-6 font-semibold">
                Get a two week trial engagement <span class="magenta-400 dark-magenta-50">risk free</span>
              </h2>
              <p class="m-b-6 m-r-4">
                We're offering a super exclusive deal to the first 100 people who schedule a consultation with us. Get two weeks to flesh out the details of a potential engagement, as well as:
              </p>
              <!--advantages-->
              <div class="flex flex-column m-b-8">
                <div class="flex items-center m-b-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="ai ai-Check m-r-3 magenta-600 dark-magenta-300"
                  >
                    <title>Agency case study blog item icon</title>
                    <path d="M4 12l6 6L20 6"></path>
                  </svg>
                  <p>
                    20+ potential partner relationships
                  </p>
                </div>
                <div class="flex items-center m-b-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="ai ai-Check m-r-3 magenta-600 dark-magenta-300"
                  >
                    <path d="M4 12l6 6L20 6"></path>
                  </svg>
                  <p>
                    Exclusive templates and resources
                  </p>
                </div>
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="ai ai-Check m-r-3 magenta-600 dark-magenta-300"
                  >
                    <title>Agency case study blog item icon</title>
                    <path d="M4 12l6 6L20 6"></path>
                  </svg>
                  <p>
                    Discounts on partner software
                  </p>
                </div>
              </div>
            </div>
            <div id="consultation-form" class="klaviyo-form-R79aM4"></div>
            <script>
        window.addEventListener('klaviyoForms', function(event) {
          console.log('klaviyoForms event fired:', event);
          if (event.detail.type === 'submit') {
            var userEmail = event.detail.email;
            var userFirstName = event.detail.firstName;
            var userLastName = event.detail.lastName;
            var companyName = event.detail.companyName;

                analytics.track('Consultation Form Submitted', {
                  email: userEmail,
                  firstName: userFirstName,
                  lastName: userLastName,
                  companyName: companyName,
                })
            
                analytics.identify(userEmail, {
                  name: userFirstName + ' ' + userLastName,
                  email: userEmail,
                  $account: {
                    name: companyName,
                  }
                })
              }});
            </script>
        </div>
      </section>
      <section class="xs-p-y-16 md-p-y-40 bg-gray-50 dark-bg-gray-800">
        <div class="container container-xl">
          <h3 class="h2 m-b-8">Get discounts from partnership-focused organizations such as these </h3>
          <!--Services-->
          <div class="grid xs-grid-cols-1 sm-grid-cols-2 xl-grid-cols-3 gap-6">
            <article
              class="card border-black p-7 dark-bg-gray-700 dark-bg-gray-700 justify-center"
            >
            <div class="svg-container">
              <svg width="125.000000pt" height="51.000000pt" viewBox="0 0 218 60" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M51.145 21.214L29.96 0 0 30l7.062 7.071 10.486-10.5L29.96 39l14.124-14.143-1.926-1.928 8.987-1.715zm-16.584 4.607a6.5 6.5 0 01-9.202 0 6.522 6.522 0 010-9.214 6.5 6.5 0 019.202 0 6.522 6.522 0 010 9.214z" fill="url(#paint0_linear)"/><path d="M10.486 40.5l7.062-7.071L29.96 45.857l17.547-17.571 1.926 1.928 1.712-9L59.92 30 29.96 60 10.487 40.5zM80.29 14.235h-7.395v12.95h3.151v-4.928h4.245a4.03 4.03 0 004.022-4.02c0-2.205-1.817-4.002-4.022-4.002zm0 4.873h-4.244v-1.723h4.245c.463 0 .852.389.852.852 0 .482-.389.87-.852.87zM94.215 27.184h3.41L92.62 14.236h-3.337L84.3 27.185h3.41l.611-1.594h5.283l.612 1.593zm-4.69-4.742l1.427-3.742 1.446 3.742h-2.873zM111.409 18.237c0-2.205-1.817-4.002-4.022-4.002h-7.396v12.95h3.151v-4.928h3.17l1.927 4.927h3.466l-2.224-5.52a4.032 4.032 0 001.928-3.427zm-4.022.87h-4.245v-1.722h4.245a.862.862 0 010 1.723zM125.234 14.235v3.15h-4.077v9.8h-3.151v-9.8h-4.078v-3.15h11.306zM136.717 21.886l-5.06-7.67h-3.466v12.931h3.151v-7.669l5.079 7.706h3.447V14.272h-3.151v7.614zM143.214 27.147h10.139v-3.149h-6.988v-1.723h5.468v-3.149h-5.468v-1.723h6.988v-3.168h-10.139v12.912zM167.736 18.237c0-2.205-1.816-4.002-4.022-4.002h-7.395v12.95h3.151v-4.928h3.169l1.928 4.927h3.466l-2.225-5.52a4.03 4.03 0 001.928-3.427zm-4.022.87h-4.244v-1.722h4.244c.463 0 .853.389.853.852 0 .482-.39.87-.853.87zM175.538 16.773c1.279-.315 2.706.149 3.577 1.13.482-.463.983-.926 1.446-1.389l1.056-1.019a7.945 7.945 0 00-3.428-1.574c-1.205-.241-2.466-.223-3.652.11-.964.26-1.89.705-2.539 1.446a3.684 3.684 0 00-.982 2.426c0 .89.315 1.779.926 2.427.575.649 1.372 1.038 2.187 1.316.816.277 1.669.444 2.484.722.519.167 1.057.389 1.316.963a.855.855 0 01.056.167c.129.87-.76 1.204-1.502 1.223-1.353.037-2.724-.52-3.688-1.482l-2.539 2.352c1.334 1.26 3.151 1.927 4.986 2.057 1.112.074 2.279-.037 3.317-.482 1.038-.445 1.965-1.223 2.465-2.223.519-1.019.556-2.26.037-3.26-.278-.556-.722-1-1.223-1.353a6.662 6.662 0 00-1.13-.611c-.964-.408-2.002-.63-2.985-.945-.426-.148-.852-.296-1.093-.722l-.056-.13c-.185-.649.427-1.019.964-1.149zM192.492 19.59h-4.949v-5.317h-3.151v12.912h3.151v-4.447h4.949v4.447h3.15V14.272h-3.15v5.316zM199.537 27.147h3.15V14.235h-3.15v12.912zM213.978 14.235h-7.395v12.95h3.15v-4.928h4.245a4.03 4.03 0 004.022-4.02c0-2.205-1.817-4.002-4.022-4.002zm0 4.873h-4.245v-1.723h4.245a.862.862 0 010 1.723zM85.132 32.002h1.124V41.1h4.875v1.014h-6.007l.008-10.113zM102.825 42.115V32.002h6.209v.979h-5.12v3.539h4.652v.979h-4.652v3.609l5.273.007v1h-6.362zM120.2 42.115l3.674-10.113h1.271l3.66 10.113h-1.125l-1.034-2.882h-4.267l-1.061 2.882H120.2zm2.472-3.917h3.66l-1.816-5.105-1.844 5.105zM140.462 32.002l.405.007h.845c.326 0 .631.002.915.007 1.858.019 3.197.447 4.016 1.287.824.834 1.236 2.063 1.236 3.685 0 1.707-.44 2.989-1.32 3.847-.88.853-2.242 1.28-4.085 1.28h-2.012V32.002zm1.132.965v8.183h.873c.903 0 1.671-.133 2.304-.4a2.938 2.938 0 001.46-1.307c.335-.606.503-1.413.503-2.42 0-1.026-.165-1.832-.496-2.42a2.758 2.758 0 00-1.439-1.258c-.628-.252-1.385-.378-2.27-.378h-.935zM159.69 42.115V32.002h6.209v.979h-5.119v3.539h4.651v.979h-4.651v3.609l5.273.007v1h-6.363zM185.208 42.115h-1.166l-1.9-4.483h-2.898v4.483h-1.09V32.002h3.813c1.062 0 1.868.235 2.417.706.549.471.824 1.133.824 1.986 0 .55-.102 1.01-.307 1.378-.2.364-.454.655-.761.874a3.666 3.666 0 01-.95.483l2.018 4.686zm-3.674-5.42c.815 0 1.444-.157 1.886-.469.443-.312.664-.797.664-1.455 0-.624-.194-1.088-.58-1.391-.386-.303-.927-.455-1.62-.455h-2.64v3.77h2.29zM200.195 42.255a5.028 5.028 0 01-1.781-.315 3.593 3.593 0 01-1.397-.93c-.377-.41-.612-.919-.705-1.525h1.152c.135.606.457 1.065.964 1.378.512.307 1.099.461 1.76.461.503 0 .95-.072 1.341-.216.391-.145.699-.35.922-.616.228-.266.342-.576.342-.93 0-.48-.151-.867-.454-1.161-.298-.298-.735-.518-1.313-.657l-2.039-.49c-.74-.168-1.32-.454-1.739-.86-.415-.41-.624-.949-.629-1.616 0-.569.149-1.07.447-1.503.298-.439.713-.781 1.243-1.028.531-.247 1.141-.371 1.83-.371.792 0 1.455.137 1.991.413.535.275.938.634 1.208 1.077.275.443.414.911.419 1.405h-1.138c-.047-.485-.189-.867-.426-1.147a1.96 1.96 0 00-.901-.608 3.458 3.458 0 00-1.153-.189c-.382 0-.754.07-1.117.21-.363.135-.664.34-.901.615-.233.275-.349.62-.349 1.035 0 .383.13.695.391.938.261.237.735.445 1.425.622l1.976.483c.629.144 1.113.368 1.453.67.34.304.573.644.698 1.022.131.373.196.746.196 1.119 0 .499-.145.954-.433 1.364-.289.41-.71.739-1.264.986-.554.242-1.227.364-2.019.364z" fill="#292D30"/><defs><linearGradient id="paint0_linear" x1="25.573" y1="0" x2="25.573" y2="39" gradientUnits="userSpaceOnUse"><stop stop-color="#231D89"/><stop offset=".245" stop-color="#A22C82"/><stop offset=".469" stop-color="#E92C79"/><stop offset="1" stop-color="#F9A447"/></linearGradient></defs></svg>
              </div>
              <div class="flex flex-column">
                <h3 class="h5 m-b-2">$50 Off Membership</h3>
                <p class="subtitle">
                  Get $50 off your membership to the exclusive community for the best Partnerships, Channel, Alliances, BD and Ecosystem professionals around the world.
                </p>
              </div>
            </article>
            <article class="card p-7 border-black dark-bg-gray-700">
              <svg width="125.000000pt" height="51.000000pt" viewBox="0 0 131 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M114.082 0.00231934H118.987V16.9055H130.337V21.1242H114.082V0.00231934ZM102.561 0.00231934L111.687 21.1242H106.525L104.671 16.7345H94.7186L92.8364 21.1242H87.7888L96.9715 0.00231934H102.561ZM96.4582 12.6868H102.932L99.7092 5.13313L96.4582 12.6868ZM85.9922 0.00231934V4.22099H73.1308V8.26863H84.3382V12.4018H73.1308V16.9055H85.9922V21.1242H68.2828V0.00231934H85.9922ZM51.543 21.1242L42.4459 0.00231934H47.7787L54.3092 15.4518L60.8682 0.00231934H66.0299L56.9043 21.1242H51.543ZM40.8774 0.00231934V4.22099H27.9875V8.26863H39.1949V12.4018H27.9875V16.9055H40.8489V21.1242H23.168V0.00231934H40.8774ZM4.91674 21.1242H0.0117188V0.00231934H11.1906C16.1241 0.00231934 19.3181 2.3967 19.3181 6.7864C19.3181 9.9504 17.6071 12.1452 14.6983 13.0859L19.8885 21.0957H14.2705L9.56511 13.6275H4.91674V21.1242ZM10.934 9.60835C13.2724 9.60835 14.4986 8.58218 14.4986 6.87191C14.4986 5.13313 13.2439 4.13548 10.934 4.13548H4.94526V9.60835H10.934Z" fill="#0A151B"/>
                </svg>                
              </span>
              <div class="flex flex-column">
                <h3 class="h5 m-b-2">70% off Pro Plan</h3>
                <p class="subtitle">
                  Recieve 70% off the groundbreaking nearbound account mapping tool that helps you maximize your partnership revenue with instant mapping and insights into your ecosystem.
                </p>
              </div>
            </article>
            <article class="card p-7 border-black dark-bg-gray-700 m-b-4">
              <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="125.000000pt" height="51.000000pt" viewBox="0 0 740.94 159.36" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                 <style>
                  .cls-1,.cls-2{fill:#52bd94;}.cls-2{fill-rule:evenodd;}
                 </style>
                </defs>
                <rect class="cls-1" x="55.6" y="52.81" width="88.52" height="15.36" rx="2.86">
                </rect>
                <rect class="cls-1" x="0.83" y="91.19" width="88.52" height="15.36" rx="2.86">
                </rect>
                <path class="cls-2" d="M11.45,63.32a2.87,2.87,0,0,0,3.48-2A60.42,60.42,0,0,1,85.52,20.71a2.84,2.84,0,0,0,3.32-2.06l2.5-9.33a2.87,2.87,0,0,0-2.17-3.53,75.76,75.76,0,0,0-89,51.48,2.86,2.86,0,0,0,2,3.56Z">
                </path>
                <path class="cls-2" d="M133.52,96A2.88,2.88,0,0,0,130,98a60.42,60.42,0,0,1-70.59,40.66,2.83,2.83,0,0,0-3.32,2.06L53.64,150a2.87,2.87,0,0,0,2.17,3.54,75.8,75.8,0,0,0,89-51.49,2.84,2.84,0,0,0-2-3.55Z">
                </path>
                <circle class="cls-1" cx="116.24" cy="27.53" r="8.42">
                </circle>
                <circle class="cls-1" cx="28.73" cy="131.82" r="8.42">
                </circle>
                <path class="cls-2" d="M350.33,64.41A32.21,32.21,0,0,1,374.6,53.89c8.86,0,15.76,2.74,20.12,8V57.53a2.44,2.44,0,0,1,2.3-2.32H408.7A2.45,2.45,0,0,1,411,57.53v64.85a39.51,39.51,0,0,1-8,25.44c-6.3,7.66-15.86,11.54-28.42,11.54-17.46,0-31.24-11.05-33.51-26.83a2.45,2.45,0,0,1,1.76-2.59l11.41-2.68a1.13,1.13,0,0,1,.18,0,2.28,2.28,0,0,1,2.6,1.93A17.26,17.26,0,0,0,374.6,144.4c13.64,0,20-7,20-21.63v-5.68a25.66,25.66,0,0,1-20,8.56c-19.41,0-33.49-15.07-33.49-35.81A37.76,37.76,0,0,1,350.33,64.41ZM576.82,53h.61c20.87.28,33.8,14.81,33.8,38.06a35.09,35.09,0,0,1-.2,3.69,2.27,2.27,0,0,1-2.24,2H559.18a19.08,19.08,0,0,0,19.35,18.51,17.39,17.39,0,0,0,17.75-12.39,2.29,2.29,0,0,1,2.85-1.37L609,105a2.13,2.13,0,0,1,1.29,1.17,2.22,2.22,0,0,1,.12,1.73,32.66,32.66,0,0,1-31.92,22.2,35.26,35.26,0,0,1-25.17-10.22,39.36,39.36,0,0,1-10.81-28.56c0-24,17.44-38.37,34.29-38.37ZM296.14,53c21.24,0,34.44,14.59,34.44,38.07a35.09,35.09,0,0,1-.2,3.69,2.24,2.24,0,0,1-2.24,2H278.53A19.08,19.08,0,0,0,298,115.31a17.37,17.37,0,0,0,17.75-12.39,2.26,2.26,0,0,1,2.85-1.37l9.91,3.49a2.11,2.11,0,0,1,1.29,1.17,2.26,2.26,0,0,1,0,1.73,32.66,32.66,0,0,1-31.9,22.2,35.29,35.29,0,0,1-25.22-10.22,39.5,39.5,0,0,1-10.81-28.56c0-24,17.44-38.37,34.3-38.37ZM221,53c9.53,0,17.24,2.31,22.95,6.88a25,25,0,0,1,8.22,11.92v0A1.55,1.55,0,0,1,251,73.67l-11.83,3.91a2.29,2.29,0,0,1-1.63,0,1.72,1.72,0,0,1-.93-1.08c-1-3.83-4.44-10.26-15.63-10.26-7.81,0-12.49,4.48-12.49,8.82,0,2.88,1.49,6.59,8.53,7.93l13,2.44c14.53,2.93,22.85,10.88,22.85,21.95l0-.19c0,11-10.58,22.75-30.24,22.75-22.8,0-31.76-12.9-33.41-20.51a1.64,1.64,0,0,1,1.21-1.81l12.2-3.8a1.83,1.83,0,0,1,.66,0,2.05,2.05,0,0,1,1,.24,1.68,1.68,0,0,1,.9,1.1c1.54,7.32,8.15,11.68,17.66,11.68,8.85,0,12.88-4.63,12.88-8.83s-3.59-7.29-9.76-8.53l-13.68-2.66c-12.76-2.41-20.71-10.34-20.71-20.66C191.58,63.6,205.07,53,221,53ZM723.55,32.65a2.44,2.44,0,0,1,2.29,2.44v20h12.83a2.45,2.45,0,0,1,2.27,2.44V68.19a2.3,2.3,0,0,1-2.27,2.31H725.84v35.59c0,5.9,2.34,8.34,8.36,8.34a31.2,31.2,0,0,0,4.1-.34,2.28,2.28,0,0,1,1.86.51,2.44,2.44,0,0,1,.78,1.76v10a2.3,2.3,0,0,1-1.64,2.22,31.61,31.61,0,0,1-9,1.17c-12.86,0-20.83-8.27-20.83-21.61V70.65h-11.1a2.44,2.44,0,0,1-2.29-2.32V57.65a2.43,2.43,0,0,1,2.29-2.44h2.88c3.49,0,9.37-1.22,9.37-9.54V35.09a2.43,2.43,0,0,1,2.29-2.44ZM482.75,64.92A26.4,26.4,0,0,1,506,53h0c12.68,0,25.49,8.93,25.49,28.44V126.6a2.45,2.45,0,0,1-2.3,2.32H517.5a2.45,2.45,0,0,1-2.29-2.32V82.89c0-5.53-1.73-14.85-13.44-14.85-8.56,0-14.64,6.73-14.64,16.49V126.6a2.44,2.44,0,0,1-2.29,2.32H473a2.45,2.45,0,0,1-2.3-2.32V82.89C470.72,77.36,469,68,457.28,68c-8.9,0-14.9,6.68-14.9,16.63V126.6a2.45,2.45,0,0,1-2.29,2.32H428.41a2.44,2.44,0,0,1-2.27-2.32V57.38a2.45,2.45,0,0,1,2.27-2.32h11.24a2.45,2.45,0,0,1,2.29,2.32v4.17A26.29,26.29,0,0,1,461.7,53,23.35,23.35,0,0,1,482.75,64.92ZM660.86,53a24.69,24.69,0,0,1,19.81,8.61,32.2,32.2,0,0,1,6.53,20.85V126.6a2.43,2.43,0,0,1-2.26,2.32H673.11a2.46,2.46,0,0,1-2.3-2.32V84.82c0-10.93-5.14-16.49-14.9-16.49a13.55,13.55,0,0,0-11.09,5.17,21.38,21.38,0,0,0-3.81,13V126.6a2.45,2.45,0,0,1-2.29,2.32H626.91a2.45,2.45,0,0,1-2.29-2.32V57.33A2.43,2.43,0,0,1,626.91,55h11.54a2.43,2.43,0,0,1,2.27,2.31v4.88A25.41,25.41,0,0,1,660.86,53ZM376.63,68.48c-11.52,0-18.83,8.19-18.83,21.36s7.22,21.35,18.83,21.35c11.07,0,18.53-8.59,18.53-21.35S387.7,68.48,376.63,68.48Zm-80.37-.66A17.07,17.07,0,0,0,279,83h34.7C312.87,73.63,306.21,67.82,296.26,67.82Zm280.75,0A17.08,17.08,0,0,0,559.77,83h34.71C593.62,73.63,587,67.82,577,67.82Z">
                </path>
                <path class="cls-1" d="M208.79,6.19V29.45H202.2V6.19h-9.11V.55H218V6.19Z">
                </path>
                <path class="cls-1" d="M259.13,29.55h-6.85L246,8.25l-6.39,21.3H232.9l-8.5-29h7l5.39,20.89L242.87.55h7l6,20.89L261.09.55h6.44Z">
                </path>
                <path class="cls-1" d="M276.6,29.45V.55h6.49v28.9Z">
                </path>
                <path class="cls-1" d="M294.77,29.45V.55h6.59V23.76h11.28v5.69Z">
                </path>
                <path class="cls-1" d="M322.46,29.45V.55H329v28.9Z">
                </path>
                <path class="cls-1" d="M353.47,30c-8,0-14.4-5.74-14.4-14.95s6.49-15,14.45-15,14.39,5.74,14.39,15S361.47,30,353.47,30Zm0-24.66c-5,0-7.91,4.12-7.91,9.66s3,9.71,7.91,9.71,7.8-4.22,7.8-9.66S358.35,5.34,353.52,5.34Z">
                </path>
               </svg>
              </span>
              <div class="flex flex-column">
                <h3 class="h5 m-b-2 font-bold">Variable Discount</h3>
                <p class="subtitle">
                  Get a discount on the #1 CDP that can enable you to seamlessly attribute partner influenced and sourced events into your CRM without massive developer overhead.
                </p>
              </div>
            </article>
          </div>
        </div>
      </section> 
            <section class="xs-p-y-16 md-p-y-40 bg-magenta-50 dark-bg-gray-800">
              <div class="container container-xl">
                <h3 class="h2 m-b-8">Launch a flawless partner experience for half the commitment</h3>
                <!--Services-->
                <div class="grid xs-grid-cols-1 sm-grid-cols-2 xl-grid-cols-3 gap-6">
                  <article
                    class="card p-7 bg-white dark-bg-gray-700 dark-bg-gray-700 justify-center"
                  >
                    <span
                      class="badge-icon badge-icon-md m-b-2 bg-magenta-100 dark-bg-gray-600 m-b-4 magenta-600 dark-blue-200"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-gauge-filled" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-.293 3.953a1 1 0 0 0 -1.414 0l-2.59 2.59l-.083 .094l-.068 .1a2.001 2.001 0 0 0 -2.547 1.774l-.005 .149l.005 .15a2 2 0 1 0 3.917 -.701a.968 .968 0 0 0 .195 -.152l2.59 -2.59l.083 -.094a1 1 0 0 0 -.083 -1.32zm-4.707 -1.293a6 6 0 0 0 -6 6a1 1 0 0 0 2 0a4 4 0 0 1 4 -4a1 1 0 0 0 0 -2z" stroke-width="0" fill="currentColor"></path>
                   </svg>
                    </span>
                    <div class="flex flex-column">
                      <h3 class="h5 m-b-2">Transparent metrics</h3>
                      <p class="subtitle">
                       We always keep our clients in the loop as far as metrics and progress. We use a variety of tools to track and report on progress.
                      </p>
                    </div>
                  </article>
                  <article class="card p-7 bg-white dark-bg-gray-700">
                    <span
                      class="badge-icon badge-icon-md m-b-2 bg-magenta-100 dark-bg-gray-600 m-b-4 magenta-600 dark-blue-200"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-key" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M14 10m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                      <path d="M21 12a9 9 0 1 1 -18 0a9 9 0 0 1 18 0z"></path>
                      <path d="M12.5 11.5l-4 4l1.5 1.5"></path>
                      <path d="M12 15l-1.5 -1.5"></path>
                   </svg>
                    </span>
                    <div class="flex flex-column">
                      <h3 class="h5 m-b-2">Turnkey support</h3>
                      <p class="subtitle">
                        Our support and collaboration is practically turnkey. You won't have to add any extra meetings except a weekly checkin.
                      </p>
                    </div>
                  </article>
                  <article class="card p-7 bg-white dark-bg-gray-700 m-b-4">
                    <span
                      class="badge-icon badge-icon-md m-b-2 bg-magenta-100 dark-bg-gray-600 m-b-4 magenta-600 dark-blue-200"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-affiliate-filled" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M18.5 3a2.5 2.5 0 1 1 -.912 4.828l-4.556 4.555a5.475 5.475 0 0 1 .936 3.714l2.624 .787a2.5 2.5 0 1 1 -.575 1.916l-2.623 -.788a5.5 5.5 0 0 1 -10.39 -2.29l-.004 -.222l.004 -.221a5.5 5.5 0 0 1 2.984 -4.673l-.788 -2.624a2.498 2.498 0 0 1 -2.194 -2.304l-.006 -.178l.005 -.164a2.5 2.5 0 1 1 4.111 2.071l.787 2.625a5.475 5.475 0 0 1 3.714 .936l4.555 -4.556a2.487 2.487 0 0 1 -.167 -.748l-.005 -.164l.005 -.164a2.5 2.5 0 0 1 2.495 -2.336z" stroke-width="0" fill="currentColor"></path>
                   </svg>
                    </span>
                    <div class="flex flex-column">
                      <h3 class="h5 m-b-2 font-bold">Expansive network</h3>
                      <p class="subtitle">
                      We have a network of over 1000+ partner professionals that we work with on a daily basis that are always to exchange value.
                      </p>
                    </div>
                  </article>
                </div>
              </div>
            </section>
        <section class="p-t-14 p-b-14 bg-gray-100">
        <div class="container m-t-6 container-xl m-b-16">
          <!-- Split Screen with SVG Images -->
          <h3 class="h2 m-b-8">Our approach to Partnerships</h3>
          <!--Services-->
          <div class="split-screen items-start">
            <div class="split-content">
              <h2 class="h4 p-b-4 xs-p-t-6 font-bold xs-m-b-4 md-m-b-0 md-m-r-12">Collaboration workshops</h2>
              <h3 class="h5 font-default xs-m-b-8  md-m-b-0 md-m-r-12">
                  We always run bi-weekly <span class="magenta-400 font-bold dark-magenta-50">collaboration</span> workshops between our clients and our partners to find opportunities to exchange value.
              </h3>
            </div>
            <div class="split-content">
              <h2 class="h4 p-b-4 font-bold xs-p-t-6 xs-m-b-4 md-m-b-0 md-m-r-12">Turnkey PX</h2>
              <h3 class="h5 font-default">
                We want your partner experience to be a <span class="magenta-400 font-bold dark-magenta-50">well oiled machine</span> that drives revenue from both influenced and sourced deals.
              </h3>
            </div>
          </div>
        </div>
      </section> 
      <style>
              .svg-container {
                  margin-left: -5px; /* Adjust the value as needed to move the SVG to the left */
              }
              #consultation-form {
                  width: 100%;
                  max-width: 600px;
                  margin: 0 auto;
              }
              @media (max-width: 768px) {
                  #consultation-form {
                  max-width: 100%;
                  }
              }
      </style>
    </div>
  </div>
</Layout>
