---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <main>
    <section>
      <div class="container container-xl">
        <div class="split-screen">
          <div class="flex p-r-10 flex-column xs-m-b-8 md-m-b-0 md-m-r-8 md-w-50">
            <script type="text/javascript" src="https://form.jotform.com/jsform/232146854314151"></script>
          </div>
          <!-- Add the image here -->
          <div class="md-w-50">
            <h3>Get a free 15-min nearbound consultation</h3>
            <p class="p-t-3">Let's talk about your organizations current understanding of nearbound and how Uppercut can help you achieve full cohesion.</p>
          </div>
        </div>
      </div>
    </section>
  </main>

  <style>
    .hidden {
      display: none;
    }

    /* Add global styles for the form */
    .container {
      display: flex;
      justify-content: left;
      align-items: left;
      height: 100%;
      background-color: #fff;
    }

    .form-container {
      padding: 20px;
      max-width: 500px;
      background-color: #f9f9f9;
      margin-top: 10px;
      margin-left: 0px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .error-message {
      display: none; /* Hide the error message by default */
      color: #FF0000;
      font-size: 14px;
      margin-top: 5px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="tel"] {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #ccc;
      transition: border-color 0.3s;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="tel"]:focus {
      border-color: #FC4C69;
    }

    button[type="submit"] {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      background-color: #FC4C69;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    button[type="submit"]:hover {
      background-color: #2980b9;
    }

    .success-message {
      display: none;
      background-color: #2ecc71;
      color: #fff;
      text-align: center;
      padding: 10px;
      border-radius: 5px;
    }

    /* Add specific styles for the section */
    section {
      background-color: #f2f2f2;
      padding: 50px 0;
    }

    button {
        margin-top: 20px;
    }

    .container-xl {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
    }

    .split-screen {
      display: flex;
    }

    .md-w-50 {
      width: 50%;
    }

    .flex {
      display: flex;
    }

    .flex-column {
      flex-direction: column;
    }

    .xs-m-b-8 {
      margin-bottom: 8px;
    }

    .md-m-b-0 {
      margin-bottom: 0;
    }

    .md-m-r-8 {
      margin-right: 8px;
    }

    .md-w-50 {
      width: 50%;
    }

    .p-t-10 {
      padding-top: 10px;
    }

    .font-semibold {
      font-weight: 600;
    }

    .m-b-6 {
      margin-bottom: 6px;
    }

    h3 {
      margin-top: 20px;
      margin-left: 20px;
    }

    img {
        width: 85%;
    }

    p {
      margin-left: 20px;
    }

    /* Responsive Styles */
    @media (max-width: 768px) {
      .split-screen {
        flex-direction: column-reverse;
      }

      .md-w-50 {
        width: 100%;
      }

      .form-container {
        padding-right: 0;
      }
    }
  </style>
</Layout>
