---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Contact Us"
  description="We're here to help and answer any question you might have. We look forward to hearing more about what you're trying to solve!"
  image="https://www.tryuppercut.com/og-image.png"
>
  <main>
    <section class="p-t-14 p-b-14 dark-bg-black">
      <div class="container container-xl m-b-16">
            <div class="container container-xl">
              <div class="split-screen items-center">
                <div class="flex flex-column xs-m-b-8 md-m-b-0 md-m-r-8 md-w-50">
                  <h2 class="m-b-6 font-semibold">
                  Need to connect with us about something?
                  </h2>
              <div class="md-w-75 m-b-7">
              <h3 class="h6 font-medium line-h-lg">
                  Submit a inquiry via this form and we'll get back to you as soon as possible.
               </h3>
               </div>
             </div>
             <div id="contact-form" class="klaviyo-form-SAewYF"></div>
             <script>
          window.addEventListener('klaviyoForms', function(event) {
          console.log('klaviyoForms event fired:', event);
          if (event.detail.type === 'submit') {
            analytics.track('Contact Form Submitted', {
                  email: event.detail.metaData.$email,
                  name: event.detail.metaData.$first_name + ' ' + event.detail.metaData.$last_name,
                  companyName: event.detail.metaData.$organization,
                });
            
                analytics.identify(event.detail.metaData.$email, {
                    name: event.detail.metaData.$first_name + ' ' + event.detail.metaData.$last_name,
                    email: event.detail.metaData.$email,
                    companyName: event.detail.metaData.$organization,
                });
              }});
             </script>
           </div>
    </main>
</Layout>