---
import Layout from "../layouts/Layout.astro";
import { Accordion, AccordionItem, } from 'accessible-astro-components'
---
<Layout
  title="Partner Experience Agency | Uppercut"
  description="Uppercut is the #1 partner operations agency that helps tame chaotic partner experiences and optimize your attribution layers."
  image="https://www.tryuppercut.com/og-image.png"
  url="https://www.tryuppercut.com"
>
  <main>
    <!--Hero-->
    <div class="overlay"></div>
    <section class="p-t-14 p-b-14 dark-bg-black">
      <div class="container container-xl m-b-16">
        <!--headline & text-->
        <div class="section-title all-center">
          <h2 class="h1 m-b-6 md-w-75">
            Are you providing your partners with a world-class experience?
          </h2>
          <div class="md-w-75 m-b-7">
            <h3 class="h6 font-medium line-h-lg">
              We can help you add experiential value to your partner program so that churn is a thing of the past.
            </h3>