---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Contact from '~/components/widgets/Contact.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Oasis - The Collaboration Layer for B2B Partnerships',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Join the waiting list',
        href: 'https://forms.fillout.com/t/bHn1ZhE6oLus',
        target: '_blank',
      },
      { text: 'Learn more', href: '#sauce' },
    ]}
  >
    <Fragment slot="title">
      The Collaboration Layer for B2B Partnerships
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        The current approach to PRM is broken. Tap into an platform that favors synchronous collaboration.
    </Fragment>
  </Hero>

  <div class="flex flex-wrap md-w-40 pb-10 justify-center">
    <img src="../../src/assets/images/mockrocket-capture.png" />
</div>

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="sauce"
    tagline="The Sauce"
    title="What makes Oasis unique?"
    subtitle="We're taking the stale and unfilled promise of PRMs and bringing the power of real-time collaboration to partnerships."
    items={[
      {
        title: 'Real-time PRM',
        description:
          'Communicate with your partners in real-time instead of asynschronously via one-off email communications. ',
        icon: 'tabler:messages',
      },
      {
        title: 'Cross-ecosystem Collaboration',
        description:
          'Add partners from other ecosystems to your Oasis and collaborate as a cohesive group in real-time.',
        icon: 'tabler:heart-handshake',
      },
      {
        title: 'Embedded Account Mapping',
        description:
          'Invite partners from both within your Oasis and externally to map CRM accounts to your own.',
        icon: 'tabler:map',
      },
      {
        title: 'Attributable Org Profiles',
        description:
          'Track the performance of the organizations in your Oasis in real-time with attributable organicational profiles.',
        icon: 'tabler:dashboard',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Why Oasis?"
    title="Realtime Collaboration: The Future of Nearbound"
    items={[
      {
        title: 'Community + Collaboration',
        description:
          'We believe that the power of tools like Slack lies in the ability to send a message while it is top of mind, and get a reply at the earliest possible convenience. This is a missing piece in PRMs today.',
      },
      {
        title: 'Seamless Login Experience',
        description:
          'Nobody wants yet another tool to log in to, and another password to remember. But guess what? We don’t even support passwords! We use WebAuthn to provide a seamless login experience.',
      },
      {
        title: 'Isolated by Design',
        description:
          'When you create your Oasis, you are creating your own private partner hub to collaborate in real-time with your ecosystem. You can also invite partners from other Oasis to collaborate with you via "Roads".',
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/3900437/pexels-photo-3900437.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">More than just an affiliate revenue tracking  stack</h3>
      Oasis enables you to sync with your partners like never before while tapping into realtime co-selling features.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-page dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <!--

  <Steps
    title="Get your dream partner program off the ground with a fractional PSM team."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Schedule a consultation</span>',
        description:
          "Start the process by scheduling a chat with one of our team members, so we can begin laying out a roadmap for success.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Choose a package</em>',
        description:
          "Once we've discovered there's a mutual fit, we'll help you choose a customized package that fits your needs and budget.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Schedule Launch Session</span>',
        description:
          'Once all the legal stuff is out of the way and we have your first payment, we will schedule a launch session to kick off the engagement.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/1595656/pexels-photo-1595656.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget **************

  <Features2
    title="Our Operational Stack"
    subtitle="Every bridge needs a solid foundation. Here are the tools we use to support your partnerships."
    tagline="The Tools 🛠"
    items={[
      {
        title: 'Twilio Segment',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'tabler:brand-twilio',
      },
      {
        title: 'Google Analytics',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'tabler:brand-google-analytics',
      },
      {
        title: 'Clearbit',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'tabler:zoom-money',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#FFEDF4] dark:bg-transparent"></div>
    </Fragment>
  </Features2>
-->
  <!-- HighlightedPosts Widget ******* 

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to discuss and educate our audience of partner professionals.
                        Each new article will be an exclusive look into the world of partnerships as well as new announcements
                        related to Uppercut.
                `}
  />-->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into what makes Oasis special."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why would I not just use Slack?',
        description:
          "We aren't trying to compete with Slack for starters. But the simple answer to this is that our tool is build especially for GTM professionals and partnership teams to facilitate cross organizational collaboration, where Slack requires a restrictive Pro subscription to take advantage of cross-organizational collaboration to it's full extent. This can often cost tens of thousands of dollars at large organizations, where our base collaboration package will only require a monthly subscription of $350",
      },
      {
        title: 'Why is realtime collaboration important?',
        description:
          "We believe that the power of tools like Slack lies in the ability to send a message while it is top of mind, and get a reply at the earliest possible convenience. This is a missing piece in PRMs today.",
      },
      {
        title: 'How does this compare to tools like PartnerStack?',
        description:
          'PartnerStack and other PRM tools are great if you have a low-activity partnership program and are looking for a way to track revenue. But if you are looking to build a high-velocity partnership program that engages your partners frequently, you need a tool that enables you to collaborate with your partners in real-time.',
      },
      {
        title: 'What integrations do you support for account mapping?',
        description:
          "Right now, only Hubspot, but in the future we will be supporting Salesforce, Pipedrive, and more. If you have a specific tool you'd like us to support, please let us know.",
      },
      {
        title: "What's your pricing model?",
        description:
          "We offer two seperate pricing packages, one for our community features and one for our Sales plan. The community package is $350/mo and the Sales package is $2500/mo.",
      },
      {
        title: 'How do you handle security?',
        description:
          "We use WebAuthn to handle passwordless auth, but we also plan to support enterprise SSO in the near future. All of our data is encrypted at the application level and we use a variety of security tools to ensure that our application is secure. For our enterprise customers, we offer the ability to host Oasis on your own infrastructure, and are working on E2EE channels that should be available in the near future.",
      },
    ]}
  />

  <!-- Stats Widget ******************

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />-->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Join the Web Pilot',
        href: 'https://forms.fillout.com/t/bHn1ZhE6oLus',
        target: '_blank',
        icon: 'tabler:clipboard-list',
      },
    ]}
  >
    <Fragment slot="title">
      Reserve your custom Oasis  <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">today</span>
    </Fragment>

    <Fragment slot="subtitle">
      Save your Oasis by signing up to our waitlist <br class="hidden md:inline" /> and be the first to know when we launch.
    </Fragment>
  </CallToAction>
</Layout>
