---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Uppercut - The best solution for partnership-led growth',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get a free consultation',
        href: 'https://calendly.com/jbohrman/30min',
        target: '_blank',
        icon: 'tabler:calendar-event',
      },
      { text: 'Learn more', href: '#sauce' },
    ]}
  >
    <Fragment slot="title">
      The Partnerships Agency for the Modern Enterprise 
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Whatever your partner program goals are, we can help you get there. Our processes and tool stack are designed to help you get the most ROI out of your partner relationships.
    </Fragment>
  </Hero>

  <div id="tolstoy-container" style="line-height:0;overflow:hidden;height:100%;width:100%;text-align:center">
    <iframe id="tolstoy" class="mx-auto px-4 mb-16" src="https://player.gotolstoy.com/polcxf6xc0xc8?host"
            style="width:100%;height:640px;max-width:960px"
            scrolling="no" frameborder="0" allow="autoplay *; clipboard-write *;camera *; microphone *; encrypted-media *; fullscreen *; display-capture *;">
    </iframe>
    <script src="https://widget.gotolstoy.com/script.js" defer></script>
  </div>


  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="sauce"
    tagline="The Sauce"
    title="What makes Uppercut unique?"
    subtitle="We're your partner for building nearbound trust and authenticity. We're not just LARPing as partner professionals, we've drunk the koolaid."
    items={[
      {
        title: 'Partner Operations',
        description:
          'We will tweak your operations and tooling to maximize program efficiency. Whether you need a full overhaul or just a few tweaks, we can help.',
        icon: 'tabler:settings',
      },
      {
        title: 'Collaborative Selling',
        description:
          'Ready to start selling with your partners? We can help you build a collaborative selling program that will help you close more deals.',
        icon: 'tabler:heart-handshake',
      },
      {
        title: 'Onboarding Strategy',
        description:
          'We will help you build a partner onboarding strategy that will help you get your partners up and running quickly, while providing a great experience.',
        icon: 'tabler:arrow-ramp-left',
      },
      {
        title: 'Attribution Analytics',
        description:
          'Is your attribution a black box? We can help you build a custom attribution model that will help you understand the true ROI of your partner program.',
        icon: 'tabler:dashboard',
      },
      {
        title: 'Account Mapping',
        description:
          "We'll help you build a program that will help you map your partner's accounts to your own, so you can get the most out of your partner relationships.",
        icon: 'tabler:compass',
      },
      {
        title: 'Experience-led Relationships',
        description:
          'We will help plan experiences that will keep your partners engaged and excited about your program. Let us handle that planning, so you can  just execute.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Why Uppercut"
    title="Uppercut's Blueprint: Your Fractional PSM"
    items={[
      {
        title: 'Engineering + Partner Success',
        description:
          'Reap the benefits of a team that has a deep understanding of the technical aspects of partnerships, as well as the operational side.',
      },
      {
        title: 'Engaging in Ecosystems',
        description:
          'We always do everything we can to learn about our clients ecosystem, so we can provide the most value possible.',
      },
      {
        title: 'A Bit Client Obsessed',
        description:
          'We are always looking for new ways to up the ante on our client experience, and we go feral for providing value.',
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/3900437/pexels-photo-3900437.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on heavy technical experience</h3>
       Leverage a team that can help you architect a world-class partner operations framework
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#FFEDF4] dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your dream partner program off the ground with a fractional PSM team."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Schedule a consultation</span>',
        description:
          "Start the process by scheduling a chat with one of our team members, so we can begin laying out a roadmap for success.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Choose a package</em>',
        description:
          "Once we've discovered there's a mutual fit, we'll help you choose a customized package that fits your needs and budget.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Schedule Launch Session</span>',
        description:
          'Once all the legal stuff is out of the way and we have your first payment, we will schedule a launch session to kick off the engagement.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.pexels.com/photos/1595656/pexels-photo-1595656.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget **************

  <Features2
    title="Our Operational Stack"
    subtitle="Every bridge needs a solid foundation. Here are the tools we use to support your partnerships."
    tagline="The Tools 🛠"
    items={[
      {
        title: 'Twilio Segment',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'tabler:brand-twilio',
      },
      {
        title: 'Google Analytics',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'tabler:brand-google-analytics',
      },
      {
        title: 'Clearbit',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'tabler:zoom-money',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#FFEDF4] dark:bg-transparent"></div>
    </Fragment>
  </Features2>
-->
  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to discuss and educate our audience of partner professionals.
                        Each new article will be an exclusive look into the world of partnerships as well as new announcements
                        related to Uppercut.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into what makes Uppercut special."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'So what do you actually do?',
        description:
          "Our engagements vary, but typically we are involved in building out the partner operations framework for our clients such as atrribution, strategy, and technical implementations. We're also happy to help with any other partner-related projects you might have.",
      },
      {
        title: 'Can you help find partners for me?',
        description:
          "Depending on your package, yes we do handle partner outreach. We have a network of partners that we can reach out to on your behalf, and we can also help you build a strategy for finding partners that are a good fit for your program.",
      },
      {
        title: 'How much does your service cost?',
        description:
          'We have a fairly flexible pricing model which you can find linked at the top of our page, but we typically charge a quarterly retainer for our services.',
      },
      {
        title: 'Do you handle webinars?',
        description:
          "For most engagements, we handle the planning aspect of webinars, as well as conversion plans, but the execution is typically handled by the client. We're happy to help with execution as well, but that is not included in our standard packages.",
      },
      {
        title: "How many people are on your team?",
        description:
          "At the moment, Uppercut is only two very talented people, but we're looking to expand our team in the near future. We also have a network of partners that we can work with to help our clients with any needs that we can't handle ourselves.",
      },
      {
        title: 'What kind of tools do you use?',
        description:
          "We use a variety of tools to help our clients, but we typically use Segment, Hubspot, and Clearbit for our engagements. We're also happy to work with any tools that you might already be using.",
      },
    ]}
  />

  <!-- Stats Widget ******************

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />-->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get a free consultation',
        href: 'https://calendly.com/jbohrman/30min',
        target: '_blank',
        icon: 'tabler:calendar-event',
      },
    ]}
  >
    <Fragment slot="title">
      Tap into <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">a fractional PSM team</span>
    </Fragment>

    <Fragment slot="subtitle">
      Get your partner ops off the ground for a fraction of the cose. <br class="hidden md:inline" />Let us do the heavy lifting.
    </Fragment>
  </CallToAction>
</Layout>
