---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="The Uppercut Process™"
  description="Learn about Uppercut's process to Partner Ops and how we can level up your ecosystems experience."
  image="https://www.tryuppercut.com/og-image.png"
  url="https://www.tryuppercut.com/our-process"
>
<section class="p-t-14 p-b-14 dark-bg-black">
  <div class="container container-xl m-b-16">
        <div class="container container-xl">
          <div class="split-screen items-center">
            <div class="flex flex-column xs-m-b-8 md-m-b-0 md-m-r-8 md-w-50">
              <h2 class="m-b-6 font-semibold">
                Learn how our partner marketing strategies <span class="magenta-400 dark-magenta-50">accelerate</span> ROI
              </h2>
              <!--advantages-->
              <div class="flex flex-column m-b-8">
                <div class="flex items-center m-b-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="ai ai-Check m-r-3 magenta-600 dark-magenta-300"
                  >
                    <title>Blog post 1</title>
                    <path d="M4 12l6 6L20 6"></path>
                  </svg>
                  <p>
                    Recieve a free 15-minute consultation
                  </p>
                </div>
                <div class="flex items-center m-b-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="ai ai-Check m-r-3 magenta-600 dark-magenta-300"
                  >
                    <path d="M4 12l6 6L20 6"></path>
                  </svg>
                  <p>
                    Learn how we approach both tooling and processes
                  </p>
                </div>
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="ai ai-Check m-r-3 magenta-600 dark-magenta-300"
                  >
                    <title>Agency case study blog item icon</title>
                    <path d="M4 12l6 6L20 6"></path>
                  </svg>
                  <p>
                    Get a free audit of your current partner program
                  </p>
                </div>
              </div>
              <a
                href="https://calendly.com/jbohrman/30min"
                class="btn black dark-bg-magenta-400 btn-lg shadow-lg"
                role="button"
                aria-label="Download Astro template"
                id="track"
              >
                Schedule a call
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler m-l-3 icon-tabler-phone-call" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"></path>
                  <path d="M15 7a2 2 0 0 1 2 2"></path>
                  <path d="M15 3a6 6 0 0 1 6 6"></path>
               </svg>
              </a>
            </div>
            <img
              class="radius-md m-b-6 md-w-50"
              src="/lights.jpg"
              loading="lazy"
              width="560" height="320"
              alt="Business & work - Unsplash image by @brookecagle - https://unsplash.com/photos/-uHVRvDr7pg"
            />
          </div>
        </div>
      </section>
      <section class="xs-p-y-16 md-p-y-40 bg-magenta-50 dark-bg-gray-800">
        <div class="container container-xl">
          <h3 class="h2 m-b-8">Who Uppercut is great for</h3>
          <!--Services-->
          <div class="grid xs-grid-cols-1 sm-grid-cols-2 xl-grid-cols-3 gap-6">
            <article
              class="card p-7 bg-white dark-bg-gray-700 dark-bg-gray-700 justify-center"
            >
              <span
                class="badge-icon badge-icon-md m-b-2 bg-magenta-100 dark-bg-gray-600 m-b-4 magenta-600 dark-blue-200"
              >
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-whirl" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M14 12a2 2 0 1 0 -4 0a2 2 0 0 0 4 0z"></path>
                <path d="M12 21c-3.314 0 -6 -2.462 -6 -5.5s2.686 -5.5 6 -5.5"></path>
                <path d="M21 12c0 3.314 -2.462 6 -5.5 6s-5.5 -2.686 -5.5 -6"></path>
                <path d="M12 14c3.314 0 6 -2.462 6 -5.5s-2.686 -5.5 -6 -5.5"></path>
                <path d="M14 12c0 -3.314 -2.462 -6 -5.5 -6s-5.5 2.686 -5.5 6"></path>
             </svg>
              </span>
              <div class="flex flex-column">
                <h3 class="h5 m-b-2">Chaotic Ecosystems</h3>
                <p class="subtitle">
                  Our services are best utilized by organizations who have a partner program, but are looking to improve the overall experience of their partners
                </p>
              </div>
            </article>
            <article class="card p-7 bg-white dark-bg-gray-700">
              <span
                class="badge-icon badge-icon-md m-b-2 bg-magenta-100 dark-bg-gray-600 m-b-4 magenta-600 dark-blue-200"
              >
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
             </svg>
              </span>
              <div class="flex flex-column">
                <h3 class="h5 m-b-2">Optimizers</h3>
                <p class="subtitle">
                  If you've already got a well-oiled partner program, but are looking to optimize the processes, we can help. 
                </p>
              </div>
            </article>
            <article class="card p-7 bg-white dark-bg-gray-700 m-b-4">
              <span
                class="badge-icon badge-icon-md m-b-2 bg-magenta-100 dark-bg-gray-600 m-b-4 magenta-600 dark-blue-200"
              >
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-seeding" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 10a6 6 0 0 0 -6 -6h-3v2a6 6 0 0 0 6 6h3"></path>
                <path d="M12 14a6 6 0 0 1 6 -6h3v1a6 6 0 0 1 -6 6h-3"></path>
                <path d="M12 20l0 -10"></path>
             </svg>
              </span>
              <div class="flex flex-column">
                <h3 class="h5 m-b-2 font-bold">Late Bloomers</h3>
                <p class="subtitle">
                  If you're new to the partnership scene, we can help you get started with a partner program that will scale with your business.
                </p>
              </div>
            </article>
          </div>
        </div>
      </section>
  <section class="p-t-14 p-b-14 bg-gray-100">
  <div class="container m-t-6 container-xl m-b-16">
    <!-- Split Screen with SVG Images -->
    <h3 class="h2 m-b-8">Why Nearbound?</h3>
    <!--Services-->
    <div class="split-screen items-start">
      <img src="startup.jpg" alt="Right Image" class="m-r-6 md:w-75 h-auto" />
      <div class="split-content">
        <h2 class="h4 p-b-4 xs-p-t-6 font-bold xs-m-b-4 md-m-b-0 md-m-r-12">Efficient growth</h2>
        <h3 class="h5 font-default xs-m-b-8  md-m-b-0 md-m-r-12">
            Nearbound growth is one of the most <span class="magenta-400 font-bold dark-magenta-50">low-CAC</span> growth channels available to startups.
        </h3>
      </div>
      <img src="savings.jpg" alt="Left Image" class="m-r-6 md:w-75 h-auto" />
      <div class="split-content">
        <h2 class="h4 p-b-4 font-bold xs-p-t-6 xs-m-b-4 md-m-b-0 md-m-r-12">Dedicated support</h2>
        <h3 class="h5 font-default">
          Get a dedicated partner support rep that will help you manage and scale your partner program.
        </h3>
      </div>
    </div>
  </div>
</section> 
</Layout>
