---
import Layout from "../layouts/Layout.astro";
import { Accordion, AccordionItem, } from 'accessible-astro-components'
---
<Layout
  title="Partner Revenue Attribution | Uppercut"
  description="Are you struggling to figure out which partners are 🌟's?"
  image="https://www.tryuppercut.com/og-image.png"
  url="https://www.tryuppercut.com"
>
  <main>
    <!--Hero-->
    <div class="overlay"></div>
    <section class="p-t-14 p-b-14 dark-bg-black">
        <div class="container container-xl m-b-16">
              <div class="container container-xl">
                <div class="split-screen items-center">
                  <div class="flex flex-column xs-m-b-8 md-m-b-0 md-m-r-8 md-w-50">
                    <h2 class="m-b-6 font-semibold">
                    Are you struggling to get buy-in for partnerships in your organization?
                    </h2>
                <div class="md-w-75 m-b-7">
                <h3 class="h6 font-medium line-h-lg">Check out or newest ebook that lays out a guide to breaking through organizational silos, with inspiration from DevOps engineering culture.</h3>
                 </h3>
                 </div>
               </div>
               <div class="klaviyo-form-RbJUc7"></div>
              <style>
                    #ebook-form {
                        width: 100%;
                        max-width: 600px;
                        margin: 0 auto;
                    }
                    @media (max-width: 768px) {
                        #ebook-form {
                        max-width: 100%;
                        }
                    }
               </style>
             </div>
          </div>
       </div>
    </section>