---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Partner with Us™"
>
<section class="p-t-14 p-b-14 dark-bg-black">
  <div class="container container-xl m-b-16">
        <div class="container container-xl">
          <div class="split-screen items-center">
            <div class="flex flex-column xs-m-b-8 md-m-b-0 md-m-r-8 md-w-50">
              <h2 class="m-b-6 font-semibold">
                Interested in partnering with the <span class="magenta-400 dark-magenta-50">nearbound growth</span> experts?
              </h2>
              <p class="m-b-6 m-r-4">
                We're always open to teaming up with the right partners. If you're looking to grow in tandem with us, we'd love to hear from you.
              </p>
              <!--advantages-->
              <div class="flex flex-column m-b-8">
                <div class="flex items-center m-b-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="ai ai-Check m-r-3 magenta-600 dark-magenta-300"
                  >
                    <title>Agency case study blog item icon</title>
                    <path d="M4 12l6 6L20 6"></path>
                  </svg>
                  <p>
                    Access to nearbound growth experts
                  </p>
                </div>
                <div class="flex items-center m-b-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="ai ai-Check m-r-3 magenta-600 dark-magenta-300"
                  >
                    <path d="M4 12l6 6L20 6"></path>
                  </svg>
                  <p>
                    Weekly co-marketing sessions
                  </p>
                </div>
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="ai ai-Check m-r-3 magenta-600 dark-magenta-300"
                  >
                    <title>Agency case study blog item icon</title>
                    <path d="M4 12l6 6L20 6"></path>
                  </svg>
                  <p>
                    Account mapping via <a href="https://www.reveal.co">Reveal</a>
                  </p>
                </div>
              </div>
              <a
                href="https://partners.tryuppercut.com"
                class="btn black dark-bg-magenta-400 btn-lg shadow-lg"
                role="button"
                aria-label="Download Astro template"
                id="track"
              >
                Apply now
              </a>
            </div>
            <img
              class="radius-md m-l-6 m-b-6 md-w-50"
              src="https://images.pexels.com/photos/6457562/pexels-photo-6457562.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
              loading="lazy"
              width="560" height="320"
              alt="Business & work - Unsplash image by @brookecagle - https://unsplash.com/photos/-uHVRvDr7pg"
            />
          </div>
        </div>
      </section> 
            <section class="xs-p-y-16 md-p-y-40 bg-magenta-50 dark-bg-gray-800">
              <div class="container container-xl">
                <h3 class="h2 m-b-8">Who Uppercut is great for</h3>
                <!--Services-->
                <div class="grid xs-grid-cols-1 sm-grid-cols-2 xl-grid-cols-3 gap-6">
                  <article
                    class="card p-7 bg-white dark-bg-gray-700 dark-bg-gray-700 justify-center"
                  >
                    <span
                      class="badge-icon badge-icon-md m-b-2 bg-magenta-100 dark-bg-gray-600 m-b-4 magenta-600 dark-blue-200"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-seeding" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M12 10a6 6 0 0 0 -6 -6h-3v2a6 6 0 0 0 6 6h3"></path>
                      <path d="M12 14a6 6 0 0 1 6 -6h3v1a6 6 0 0 1 -6 6h-3"></path>
                      <path d="M12 20l0 -10"></path>
                  </svg>
                    </span>
                    <div class="flex flex-column">
                      <h3 class="h5 m-b-2">Early Stage Startups</h3>
                      <p class="subtitle">
                        Our services are always great for those Seed-stage startups looking to kick off their first partner program. We can start fresh, and get your program off to a great start.
                      </p>
                    </div>
                  </article>
                  <article class="card p-7 bg-white dark-bg-gray-700">
                    <span
                      class="badge-icon badge-icon-md m-b-2 bg-magenta-100 dark-bg-gray-600 m-b-4 magenta-600 dark-blue-200"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plant" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M7 15h10v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2v-4z"></path>
                      <path d="M12 9a6 6 0 0 0 -6 -6h-3v2a6 6 0 0 0 6 6h3"></path>
                      <path d="M12 11a6 6 0 0 1 6 -6h3v1a6 6 0 0 1 -6 6h-3"></path>
                      <path d="M12 15l0 -6"></path>
                  </svg>
                    </span>
                    <div class="flex flex-column">
                      <h3 class="h5 m-b-2">Mid-stage Startups</h3>
                      <p class="subtitle">
                        If you've already got a partner program, but are looking to optimize it, we can help. We'll audit your current program, and help you take it to the next level.
                      </p>
                    </div>
                  </article>
                  <article class="card p-7 bg-white dark-bg-gray-700 m-b-4">
                    <span
                      class="badge-icon badge-icon-md m-b-2 bg-magenta-100 dark-bg-gray-600 m-b-4 magenta-600 dark-blue-200"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-christmas-tree" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M12 3l4 4l-2 1l4 4l-3 1l4 4h-14l4 -4l-3 -1l4 -4l-2 -1z"></path>
                      <path d="M14 17v3a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-3"></path>
                  </svg>
                    </span>
                    <div class="flex flex-column">
                      <h3 class="h5 m-b-2 font-bold">Late-stage Startups</h3>
                      <p class="subtitle">
                        If you're a late-stage startup, and you're looking for help with nearbound growth. We'll help you tap into your ecosystem and grow your pipeline.
                      </p>
                    </div>
                  </article>
                </div>
              </div>
            </section>
            <section class="xs-p-y-16 md-p-y-40 bg-white dark-bg-gray-900">
              <div class="container container-lg">
                <div class="m-b-8 xs-w-100 md-w-50 lg-w-75 text-center"> <!-- Added text-center class for centering -->
                  <h2>
                    Our Partners
                  </h2>
                  <div class="wordmarks-container">
                    <img src="https://www.tryuppercut.com/partnerstack.svg" alt="Partnerstack Logo" class="wordmark">
                    <img src="https://www.tryuppercut.com/partnero.png" alt="Wordmark 2" class="Partnero Logo">
                    <img src="https://www.tryuppercut.com/copilot.png" alt="Copilot Logo" class="wordmark">
                  </div>
                </div>
              </div>
            </section>            
        <section class="p-t-14 p-b-14 bg-gray-100">
        <div class="container m-t-6 container-xl m-b-16">
          <!-- Split Screen with SVG Images -->
          <h3 class="h2 m-b-8">Why Nearbound?</h3>
          <!--Services-->
          <div class="split-screen items-start">
            <img src="startup.jpg" alt="Right Image" class="m-r-6 md:w-75 h-auto" />
            <div class="split-content">
              <h2 class="h4 p-b-4 xs-p-t-6 font-bold xs-m-b-4 md-m-b-0 md-m-r-12">Efficient growth</h2>
              <h3 class="h5 font-default xs-m-b-8  md-m-b-0 md-m-r-12">
                  Nearbound growth is one of the most <span class="magenta-400 font-bold dark-magenta-50">low-CAC</span> growth channels available to startups.
              </h3>
            </div>
            <img src="savings.jpg" alt="Left Image" class="m-r-6 md:w-75 h-auto" />
            <div class="split-content">
              <h2 class="h4 p-b-4 font-bold xs-p-t-6 xs-m-b-4 md-m-b-0 md-m-r-12">Dedicated support</h2>
              <h3 class="h5 font-default">
                Get a dedicated partner support rep that will help you manage and scale your partner program.
              </h3>
            </div>
          </div>
        </div>
      </section> 
      <style>
        .wordmarks-container {
          display: flex;
          justify-content: center; /* Center-align the wordmarks horizontally */
          margin-top: 20px; /* Add spacing between the h2 and wordmarks */
        }

        .wordmark {
          max-width: 100px; /* Adjust the size of the wordmarks as needed */
          filter: grayscale(100%); /* Apply grayscale effect */
          margin: 0 15px; /* Add spacing between wordmarks */
        }
      </style>
    </div>
  </div>
</Layout>
