---
import Layout from "../layouts/Layout.astro";
import { Accordion, AccordionItem, } from 'accessible-astro-components'
---

<Layout
  title="Become an Uppercut Partner | Service Providers"
  description="Looking to provide PartnerOps solutions to your clients?"
  image="https://www.tryuppercut.com/og-image.png"
  url="https://www.tryuppercut.com"
>
  <main>
    <!--Hero-->
    <div class="overlay"></div>
    <section class="p-t-14 p-b-14 dark-bg-black">
      <div class="container container-xl m-b-16">
        <!--headline & text-->
        <div class="section-title all-center">
          <h2 class="h1 m-b-6 md-w-75">
            Looking to provide Partner Ops solutions to your clients?
          </h2>
          <div class="md-w-75 m-b-7">
            <h3 class="h6 font-medium line-h-lg">
              If you're a marketing agency, RevOps consultancy, or other solutions provider, we'd love to talk about how we can work together to help your clients.
            </h3>