---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <main>
    <section>
      <div class="container container-xl">
        <div class="split-screen">
          <div class="flex p-r-10 flex-column xs-m-b-8 md-m-b-0 md-m-r-8 md-w-50">
            <h3 class="m-b-6 p-t-10 font-semibold">
              Get access to the Unified API Landscape for free!
            </h3>
            <p class="m-b-6">
              We have created an exclusive resource to help you get a feel for the current state of the Unified API space. To get access, please fill out the form below. We will send you an email with a link to download.
            </p>
            <div class="form-container">
            <form id="unifiedAPIForm" onsubmit="submitForm(event)">
              <div class="form-group">
                <label for="emailInput">Email:</label>
                <input type="email" pattern="^(?!.*@(gmail\.com|hotmail\.com|yahoo\.com|tds\.net|xfinity\.com|comcast\.net|outlook\.com|protonmail\.com)).+@([a-zA-Z0-9.-]+\.[a-zA-Z]{2,})$" id="emailInput" name="email" required placeholder="erlich@aviato.com">
                <span class="error-message" id="emailError">Please enter a valid corporate email address.</span>
              </div>
              <div class="form-group">
                <label for="firstNameInput">First Name:</label>
                <input type="text" id="firstNameInput" name="firstname" required placeholder="Erlich">
              </div>
              <div class="form-group">
                <label for="lastNameInput">Last Name:</label>
                <input type="text" id="lastNameInput" name="lastname" required placeholder="Bachman">
              </div>
              <div class="form-group">
                <label for="companyInput">Company:</label>
                <input type="text" id="companyInput" name="company" required placeholder="Aviato">
              </div>
              <div class="form-group">
                <label for="websiteInput">Website:</label>
                <input type="url" id="websiteInput" name="website" required placeholder="https://www.aviato.com">
              </div>
              <div class="form-group">
                <label for="mobilePhoneInput">Mobile Phone:</label>
                <input type="tel" pattern="^\+\d+$" id="mobilePhoneInput" name="mobilephone" required placeholder="+1 (888) 8888">
                <span class="error-message" id="mobilePhoneError">Please enter a valid mobile phone number (e.g., +1 1234567890).</span>
              </div>
                <!-- Error message for invalid input -->
              <div class="form-group">
                <input type="checkbox" id="communicationConsent" name="communication_consent" required>
                <span>I agree to receiving communication from Uppercut.</span>
              </div>
            </div>
              <div class="form-group">
                <button type="submit">Submit</button>
              </div>
            </form>
            <div id="successMessage" class="hidden">Form submitted successfully!</div>
          </div>
          <!-- Add the image here -->
          <div class="md-w-50">
            <img src="/unifiedapipic.png" alt="landscape map" />
          </div>
        </div>
      </div>
    </section>
  </main>

  <style>
    .hidden {
      display: none;
    }

    /* Add global styles for the form */
    .container {
      display: flex;
      justify-content: left;
      align-items: left;
      height: 100%;
      background-color: #fff;
    }

    .form-container {
      padding: 30px;
      max-width: 600px;
      background-color: #f9f9f9;
      margin-top: 20px;
      margin-left: 25px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .error-message {
      display: none; /* Hide the error message by default */
      color: #FF0000;
      font-size: 14px;
      margin-top: 5px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="tel"] {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #ccc;
      transition: border-color 0.3s;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="tel"]:focus {
      border-color: #FC4C69;
    }

    button[type="submit"] {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      background-color: #FC4C69;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    button[type="submit"]:hover {
      background-color: #2980b9;
    }

    .success-message {
      display: none;
      background-color: #2ecc71;
      color: #fff;
      text-align: center;
      padding: 10px;
      border-radius: 5px;
    }

    /* Add specific styles for the section */
    section {
      background-color: #f2f2f2;
      padding: 50px 0;
    }

    button {
        margin-top: 20px;
    }

    .container-xl {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
    }

    .split-screen {
      display: flex;
    }

    .md-w-50 {
      width: 50%;
    }

    .flex {
      display: flex;
    }

    .flex-column {
      flex-direction: column;
    }

    .xs-m-b-8 {
      margin-bottom: 8px;
    }

    .md-m-b-0 {
      margin-bottom: 0;
    }

    .md-m-r-8 {
      margin-right: 8px;
    }

    .md-w-50 {
      width: 50%;
    }

    .p-t-10 {
      padding-top: 10px;
    }

    .font-semibold {
      font-weight: 600;
    }

    .m-b-6 {
      margin-bottom: 6px;
    }

    h3 {
      margin-top: 20px;
      margin-left: 20px;
    }

    img {
        width: 85%;
    }

    p {
      margin-left: 20px;
    }

    /* Responsive Styles */
    @media (max-width: 768px) {
      .split-screen {
        flex-direction: column-reverse;
      }

      .md-w-50 {
        width: 100%;
      }

      .form-container {
        padding-right: 0;
      }
    }
  </style>

<script>
  function submitForm(event) {
    event.preventDefault();
      // Simulate form submission with a delay of 2 seconds (you can replace this with your actual form submission code)
    setTimeout(function() {
      document.getElementById("unifiedAPIForm").reset(); // Reset the form
      document.getElementById("unifiedAPIForm").style.display = "none"; // Hide the form
      document.getElementById("successMessage").classList.remove("hidden");
      var t = document.createElement('script'),
        s = document.getElementsByTagName('script')[0];
          t.async = true;
          t.id    = 'cio-forms-handler';
          t.setAttribute('data-site-id', '0210718529544e3eb175');
          t.setAttribute('data-base-url', 'https://customerioforms.com');

          t.src = 'https://customerioforms.com/assets/forms.js';

          s.parentNode.insertBefore(t, s);
    }, 2000);
  }

const submitButton = document.querySelector('button[type="submit"]');
    submitButton.addEventListener('click', function(event) {
      // Check if mobile phone input is valid
      const mobilePhoneInput = document.getElementById("mobilePhoneInput");
      if (!mobilePhoneInput.checkValidity()) {
        // Prevent form submission if the input is invalid
        event.preventDefault();
        // Display the error message
        document.getElementById("mobilePhoneError").style.display = "block";
      } else {
        // If the input is valid, hide the error message
        document.getElementById("mobilePhoneError").style.display = "none";
      }

      // Check if email input is valid
      const emailInput = document.getElementById("emailInput");
      if (!emailInput.checkValidity()) {
        // Prevent form submission if the input is invalid
        event.preventDefault();
        // Display the error message
        document.getElementById("emailError").style.display = "block";
      } else {
        // If the input is valid, hide the error message
        document.getElementById("emailError").style.display = "none";
      }

      // If there are no errors, proceed with the form submission
      if (mobilePhoneInput.checkValidity() && emailInput.checkValidity()) {
        submitForm(event);
      }
    });
</script>
</Layout>
