---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="About"
>
  <main>
    <section>
      <div class="container container-xl">
        <div class="split-screen items-center">
          <div class="flex flex-column xs-m-b-8 md-m-b-0 md-m-r-8 md-w-50">
            <h3 class="m-b-6 p-t-10 font-semibold">
              Get access to the Unified API Landscape for free!
            </h3>
            <p class="m-b-6">
              We have created an exclusive resource to help you get a feel for the current state of the Unified API space. To get access, please fill out the form below. We will send you an email with a link to download.
            </p>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
            <script class="padding-25%">
              hbspt.forms.create({
                region: "na1",
                portalId: "40093919",
                formId: "6999de39-d043-4a84-9154-897bfb0d1a52"
              });
              {`
                document.addEventListener("hbspt.forms.postSubmit", function(event) {
                  const form = event.target;
                  const firstNameInput = form.querySelector('input[firstname="firstname"]');
                  const lastNameInput = form.querySelector('input[lastname="lastname"]');
                  const emailInput = form.querySelector('input[name="email"]');
                  const companyInput = form.querySelector('input[name="company"]');
                  
                  analytics.identify(emailInput.value, {
                    firstName: firstNameInput.value,
                    lastName: lastNameInput.value,
                    company: companyInput.value
                  });

                  analytics.track('form-submission', {
                    formId: form.id,
                    email: emailInput.value,
                    firstName: firstNameInput.value,
                    lastName: lastNameInput.value,
                    company: companyInput.value
                  });
                `}
            </script>
          </div>
          <!-- Add the image here -->
          <div class="md-w-50">
            <img src="/unifiedapipic.png" alt="landscape map" />
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
