---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Success">
  <main>
    <section>
      <div class="container container-xl">
        <div class="split-screen">
          <div class="flex p-r-10 flex-column xs-m-b-8 md-m-b-0 md-m-r-8 md-w-50">
            <h3 class="m-b-6 p-t-10 font-semibold">
              Form submitted successfully!
            </h3>
            <p class="m-b-6">
              Thank you for submitting the form. We will send you an email with a link to download the Unified API Landscape resource.
            </p>
          </div>
          <!-- Add the image here -->
          <div class="md-w-50">
            <img src="/unifiedapipic.png" alt="landscape map" />
          </div>
        </div>
      </div>
    </section>
  </main>

  <style>
    /* Add global styles for the success page */
    .container {
      display: flex;
      justify-content: left;
      align-items: left;
      height: 100%;
      background-color: #fff;
    }

    /* Add specific styles for the section */
    section {
      background-color: #f2f2f2;
      padding: 50px 0;
    }

    .container-xl {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
    }

    .split-screen {
      display: flex;
    }

    .md-w-50 {
      width: 50%;
    }

    .flex {
      display: flex;
    }

    .flex-column {
      flex-direction: column;
    }

    .xs-m-b-8 {
      margin-bottom: 8px;
    }

    .md-m-b-0 {
      margin-bottom: 0;
    }

    .md-m-r-8 {
      margin-right: 8px;
    }

    .md-w-50 {
      width: 50%;
    }

    .p-t-10 {
      padding-top: 10px;
    }

    .font-semibold {
      font-weight: 600;
    }

    .m-b-6 {
      margin-bottom: 6px;
    }

    h3 {
      margin-top: 20px;
      margin-left: 20px;
    }

    img {
      width: 85%;
    }

    p {
      margin-left: 20px;
    }

    /* Responsive Styles */
    @media (max-width: 768px) {
      .split-screen {
        flex-direction: column-reverse;
      }

      .md-w-50 {
        width: 100%;
      }
    }
  </style>
</Layout>
