---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Uppercut vs. the Others™"
>
<section class="p-t-14 p-b-14 dark-bg-black">
  <div class="container container-xl m-b-16">
        <div class="container container-xl">
          <div class="split-screen items-center">
            <div class="flex flex-column xs-m-b-8 md-m-b-0 md-m-r-8 md-w-50">
              <h2 class="m-b-6 font-semibold">
                Get the features of Merge without the <span class="magenta-400 dark-magenta-50">vendor lock-in 🔓</span>
              </h2>
              <!--advantages-->
              <div class="flex flex-column m-b-8">
                <div class="flex items-center m-b-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="ai ai-Check m-r-3 magenta-600 dark-magenta-300"
                  >
                    <title>Agency case study blog item icon</title>
                    <path d="M4 12l6 6L20 6"></path>
                  </svg>
                  <p>
                    Leverage OSS tools to maintain control over your infrastructure
                  </p>
                </div>
                <div class="flex items-center m-b-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="ai ai-Check m-r-3 magenta-600 dark-magenta-300"
                  >
                    <path d="M4 12l6 6L20 6"></path>
                  </svg>
                  <p>
                    Recieve support with tech partnerships
                  </p>
                </div>
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="ai ai-Check m-r-3 magenta-600 dark-magenta-300"
                  >
                    <title>Agency case study blog item icon</title>
                    <path d="M4 12l6 6L20 6"></path>
                  </svg>
                  <p>
                    Avoid sticker shock with a flat rate model
                  </p>
                </div>
              </div>
              <a
                href="https://meetings.hubspot.com/james-bohrman"
                class="btn black dark-bg-magenta-400 btn-lg shadow-lg"
                role="button"
                aria-label="Download Astro template"
                id="track"
              >
                Schedule a call
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler m-l-3 icon-tabler-phone-call" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"></path>
                  <path d="M15 7a2 2 0 0 1 2 2"></path>
                  <path d="M15 3a6 6 0 0 1 6 6"></path>
               </svg>
              </a>
            </div>
            <img
              class="radius-md m-b-6 md-w-50"
              src="/lights.jpg"
              loading="lazy"
              width="560" height="320"
              alt="Business & work - Unsplash image by @brookecagle - https://unsplash.com/photos/-uHVRvDr7pg"
            />
          </div>
        </div>
      </section> 
    </div>
  </div>
  <section class="p-t-14 p-b-14 bg-gray-100">
  <div class="container m-t-6 container-xl m-b-16">
    <!-- Split Screen with SVG Images -->
    <div class="split-screen items-start">
      <img src="startup.jpg" alt="Right Image" class="m-r-6 md:w-75 h-auto" />
      <div class="split-content">
        <h2 class="h4 p-b-4 xs-p-t-6 font-bold xs-m-b-4 md-m-b-0 md-m-r-12">Better for Less</h2>
        <h3 class="h5 font-default xs-m-b-8  md-m-b-0 md-m-r-12">
            Uppercut is about <span class="magenta-400 font-bold dark-magenta-50">40%</span> more affordable than choosing a commercial, closed-source option.
        </h3>
      </div>
      <img src="savings.jpg" alt="Left Image" class="m-r-6 md:w-75 h-auto" />
      <div class="split-content">
        <h2 class="h4 p-b-4 font-bold xs-p-t-6 xs-m-b-4 md-m-b-0 md-m-r-12">Upstream Growth</h2>
        <h3 class="h5 font-default">
          Further, we promise to help grow the IPaaS ecosystem for <span class="magenta-400 dark-magenta-50">open source</span> & <span class="magenta-400 dark-magenta-50">community</span> contributions.
        </h3>
      </div>
    </div>
  </div>
</section> 
</Layout>
