---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Uppercut vs. the Others™"
>
<section class="p-t-14 p-b-14 dark-bg-black">
  <div class="container container-xl m-b-16">
        <div class="container container-xl">
          <div class="split-screen items-center">
            <div class="flex flex-column xs-m-b-8 md-m-b-0 md-m-r-8 md-w-50">
              <h2 class="m-b-6 font-semibold">
                Learn how our partner marketing strategies <span class="magenta-400 dark-magenta-50">accelerate</span> ROI
              </h2>
              <!--advantages-->
              <div class="flex flex-column m-b-8">
                <div class="flex items-center m-b-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="ai ai-Check m-r-3 magenta-600 dark-magenta-300"
                  >
                    <title>Blog post 1</title>
                    <path d="M4 12l6 6L20 6"></path>
                  </svg>
                  <p>
                    Recieve a free 15-minute consultation
                  </p>
                </div>
                <div class="flex items-center m-b-4">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="ai ai-Check m-r-3 magenta-600 dark-magenta-300"
                  >
                    <path d="M4 12l6 6L20 6"></path>
                  </svg>
                  <p>
                    Learn how we approach both tooling and processes
                  </p>
                </div>
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="ai ai-Check m-r-3 magenta-600 dark-magenta-300"
                  >
                    <title>Agency case study blog item icon</title>
                    <path d="M4 12l6 6L20 6"></path>
                  </svg>
                  <p>
                    Get a free audit of your current partner program
                  </p>
                </div>
              </div>
              <a
                href="https://calendly.com/jbohrman/15-min-consultation"
                class="btn black dark-bg-magenta-400 btn-lg shadow-lg"
                role="button"
                aria-label="Download Astro template"
                id="track"
              >
                Schedule a call
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler m-l-3 icon-tabler-phone-call" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"></path>
                  <path d="M15 7a2 2 0 0 1 2 2"></path>
                  <path d="M15 3a6 6 0 0 1 6 6"></path>
               </svg>
              </a>
            </div>
            <img
              class="radius-md m-b-6 md-w-50"
              src="/lights.jpg"
              loading="lazy"
              width="560" height="320"
              alt="Business & work - Unsplash image by @brookecagle - https://unsplash.com/photos/-uHVRvDr7pg"
            />
          </div>
        </div>
      </section>
      <section class="xs-p-y-16 md-p-y-40 bg-magenta-50 dark-bg-gray-800">
        <div class="container container-xl">
          <h3 class="h2 m-b-8">Who Uppercut is great for</h3>
          <!--Services-->
          <div class="grid xs-grid-cols-1 sm-grid-cols-2 xl-grid-cols-3 gap-6">
            <article
              class="card p-7 bg-white dark-bg-gray-700 dark-bg-gray-700 justify-center"
            >
              <span
                class="badge-icon badge-icon-md m-b-2 bg-magenta-100 dark-bg-gray-600 m-b-4 magenta-600 dark-blue-200"
              >
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-seeding" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 10a6 6 0 0 0 -6 -6h-3v2a6 6 0 0 0 6 6h3"></path>
                <path d="M12 14a6 6 0 0 1 6 -6h3v1a6 6 0 0 1 -6 6h-3"></path>
                <path d="M12 20l0 -10"></path>
             </svg>
              </span>
              <div class="flex flex-column">
                <h3 class="h5 m-b-2">Early Stage Startups</h3>
                <p class="subtitle">
                  Our services are always great for those Seed-stage startups looking to kick off their first partner program. We can start fresh, and get your program off to a great start.
                </p>
              </div>
            </article>
            <article class="card p-7 bg-white dark-bg-gray-700">
              <span
                class="badge-icon badge-icon-md m-b-2 bg-magenta-100 dark-bg-gray-600 m-b-4 magenta-600 dark-blue-200"
              >
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plant" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M7 15h10v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2v-4z"></path>
                <path d="M12 9a6 6 0 0 0 -6 -6h-3v2a6 6 0 0 0 6 6h3"></path>
                <path d="M12 11a6 6 0 0 1 6 -6h3v1a6 6 0 0 1 -6 6h-3"></path>
                <path d="M12 15l0 -6"></path>
             </svg>
              </span>
              <div class="flex flex-column">
                <h3 class="h5 m-b-2">Mid-stage Startups</h3>
                <p class="subtitle">
                  If you've already got a partner program, but are looking to optimize it, we can help. We'll audit your current program, and help you take it to the next level.
                </p>
              </div>
            </article>
            <article class="card p-7 bg-white dark-bg-gray-700 m-b-4">
              <span
                class="badge-icon badge-icon-md m-b-2 bg-magenta-100 dark-bg-gray-600 m-b-4 magenta-600 dark-blue-200"
              >
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-christmas-tree" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 3l4 4l-2 1l4 4l-3 1l4 4h-14l4 -4l-3 -1l4 -4l-2 -1z"></path>
                <path d="M14 17v3a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-3"></path>
             </svg>
              </span>
              <div class="flex flex-column">
                <h3 class="h5 m-b-2 font-bold">Late-stage Startups</h3>
                <p class="subtitle">
                  If you're a late-stage startup, and you're looking for help with nearbound growth. We'll help you tap into your ecosystem and grow your pipeline.
                </p>
              </div>
            </article>
          </div>
        </div>
      </section>
      <section class="xs-p-y-16 md-p-y-40 bg-white dark-bg-gray-900">
        <div class="container container-lg">
          <div class="m-b-8 xs-w-100 md-w-50 lg-w-75">
            <h2>
              Featured Content
            </h2>
          </div>
        </div>
        <div class="flex flex-column container container-lg">
          <article
            class="card clickable shadow-gradient p-y-7 xs-p-x-6 radius-lg flex-row items-center w-100 xs-flex-wrap md-flex-no-wrap bg-white shadow-md m-b-7"
          >
            <h3 class="visually-hidden">
              Partner Program Development: You need a toolbox to build a bridge 🛠🌉  
            </h3>
            <a
              href="https://www.tryuppercut.com/blog/you-need-a-toolbelt-to-build-a-bridge"
              class="spread-link"
              role="button"
              target="_blank"
              aria-label="Partner Program Development: You need a toolbox to build a bridge 🛠🌉"
              rel="noopener noreferrer"></a>
            <img
              class="radius-md xs-m-b-8 md-m-b-0 md-m-r-10 xs-w-100 md-w-50"
              src="https://www.tryuppercut.com/toolbox.png"
              loading="lazy"
              width="480" height="360"
              alt="blog post image"
            />
            <div class="flex flex-column md-w-50">
              <div class="badge-group m-b-4">
                <span class="badge border-gray-300 badge-sm">
                  <svg
                    role="img"
                    aria-label="Agency case study blog item icon"
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-check m-r-3"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <title>Agency case study blog item icon</title>
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M5 12l5 5l10 -10"></path>
                  </svg>
                  Program Development
                </span>
              </div>
              <a href="https://www.tryuppercut.com/blog/you-need-a-toolbelt-to-build-a-bridge" class="h5 m-b-3"
                >Partner Program Development: You need a toolbox to build a bridge 🛠🌉</a
              >
              <p class="item-excerpt">
                How does one solve the problem of chaotic and inefficient partnership programs?
              </p>
            </div>
          </article>
          <div class="flex w-100 xs-flex-wrap md-flex-no-wrap">
            <article
              class="card clickable p-y-7 xs-p-x-6 radius-lg border-gray-200 dark-border-gray-700 xs-w-100 lg-w-35 xs-m-b-7 md-m-b-0 md-m-r-7"
            >
              <h3 class="visually-hidden">
                The power of context awareness when persuing nearbound sales
              </h3>
              <a
                href="https://www.tryuppercut.com/blog/context-aware-nearbound"
                class="spread-link"
                role="button"
                target="_blank"
                aria-label="The power of context awareness when persuing nearbound sales"
                rel="noopener noreferrer"></a>
              <img
                width="480" height="360"
                class="lazy radius-md m-b-6 w-100"
                src="https://www.tryuppercut.com/context.png"
                alt="blog post image"
              />
  
              <div class="flex flex-column">
                <div class="flex flex-wrap m-b-4 w-100">
                  <span class="badge border-gray-300 badge-sm m-r-4">
                    Nearbound Selling
                  </span>
                  <span class="badge border-gray-300 badge-sm"> Ecosystems</span>
                </div>
                <a class="h5 m-b-3" href="https://producthunt.com"
                  >The power of context awareness when persuing nearbound sales</a
                >
  
                <p class="item-excerpt">
                  Successfully executing a nearbound sales strategy requires more than just signing partnership agreements. 
                </p>
              </div>
            </article>
            <div class="flex flex-column xs-w-100 lg-w-65">
              <article
                class="card clickable p-y-7 xs-p-x-6 radius-lg flex-row items-start w-100 xs-flex-wrap lg-flex-no-wrap border-gray-200 dark-border-gray-700 m-b-7"
              >
                <h3 class="visually-hidden">
                  Reveal: The Nearbound Manifesto
                </h3>
                <a
                  href="https://reveal.co/blog/the-nearbound-manifesto"
                  class="spread-link"
                  role="button"
                  target="_blank"
                  aria-label="Reveal: The Nearbound Manifesto"
                  rel="noopener noreferrer"></a>
                <img
                  class="radius-md xs-m-b-8 lg-m-b-0 lg-m-r-8 xs-w-100 lg-w-50"
                  src="https://media.licdn.com/dms/image/C4D22AQHMhqfHVqXO2g/feedshare-shrink_800/0/1663244541728?e=1694044800&v=beta&t=OXEfiqtx7JBXsIvtPw0I7niWOTdT3CWpNiVjoc4FgBY"
                  loading="lazy"
                  width="480" height="360"
                  alt="The Nearbound Manifesto blog post image"
                />
                <div class="flex flex-column lg-w-50">
                  <div class="badge-group m-b-4">
                    <span class="badge border-gray-300 badge-sm">
                      <svg
                        role="img"
                        aria-label=""
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-check m-r-3"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <title>Reveal: The Nearbound Manifesto</title>
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l5 5l10 -10"></path>
                      </svg>
                      Nearbound
                    </span>
                  </div>
                  <a class="h5 m-b-3" href="https://twitter.com"
                    >Reveal: The Nearbound Manifesto
                  </a>
                  <p class="item-excerpt">
                    The Nearbound Manifesto acts as a roadmap for companies looking to break away from the traditional sales and marketing funnel of inbound and outbound to a new low CAC, high ROI strategy.
                  </p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
  <section class="p-t-14 p-b-14 bg-gray-100">
  <div class="container m-t-6 container-xl m-b-16">
    <!-- Split Screen with SVG Images -->
    <h3 class="h2 m-b-8">Why Nearbound?</h3>
    <!--Services-->
    <div class="split-screen items-start">
      <img src="startup.jpg" alt="Right Image" class="m-r-6 md:w-75 h-auto" />
      <div class="split-content">
        <h2 class="h4 p-b-4 xs-p-t-6 font-bold xs-m-b-4 md-m-b-0 md-m-r-12">Efficient growth</h2>
        <h3 class="h5 font-default xs-m-b-8  md-m-b-0 md-m-r-12">
            Nearbound growth is one of the most <span class="magenta-400 font-bold dark-magenta-50">low-CAC</span> growth channels available to startups.
        </h3>
      </div>
      <img src="savings.jpg" alt="Left Image" class="m-r-6 md:w-75 h-auto" />
      <div class="split-content">
        <h2 class="h4 p-b-4 font-bold xs-p-t-6 xs-m-b-4 md-m-b-0 md-m-r-12">Dedicated support</h2>
        <h3 class="h5 font-default">
          Get a dedicated partner support rep that will help you manage and scale your partner program.
        </h3>
      </div>
    </div>
  </div>
</section> 
</Layout>
