---
import BlogPostPreview from "./BlogPostPreview.astro";

const {posts} = Astro.props;
---

<ul>
  {posts.map((post) => (
    <li>
      <BlogPostPreview post={post} />
    </li>
  ))}
</ul>

<style>
  ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr));
    justify-items: end;
    align-items: start;
    list-style: none;
  }

  li {
    margin-bottom: 3rem;
  }
</style>