---
import BlogPostPreview from "./BlogPostPreview.astro";

const {posts} = Astro.props;
---
<div>
  <ul>
    {posts.map((post) => (
      <li>
        <BlogPostPreview post={post} />
      </li>
    ))}
  </ul>
</div>

<style>
  div {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 1rem;
  }
  
  ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: end;
    align-items: start;
    list-style: none;
  }

  li {
    margin-bottom: 3rem;
  }
</style>