<footer id="footer" class="p-y-24 flex flex-column">
  <!--Links-->
  <div class="container container-xl">
    <div class="footer-info border-none">
      <ul class="footer-links">
        <li class="m-r-8">
          <a href="/" class="flex items-center">
            <img
              alt="Uppercut Logo"
              src="/logo-40x41.png"
              class="w-10 h-10"
              width="100"
              height="100"
            />
            <div class="m-l-4 flex items-start flex-column">
              <h1 class="h5 font-bold line-h-lg">Uppercut
              <p class="small align-left">Integrations. On-demand.</p>
            </div>
          </a>
        </li>
      </ul>
     <ul class="footer-links xs-flex-wrap md-flex-no-wrap">
        <li class="xs-m-b-8 sm-m-b-0 m-r-10">
          <a href="https://apply.workable.com/uppercut/" class="subtitle link-footer">Jobs</a>
        </li>
        <li class="xs-m-b-8 sm-m-b-0 m-r-10">
          <a href="/about" class="subtitle link-footer">About</a>
        </li>
        <li class="xs-m-b-8 sm-m-b-0 m-r-10">
          <a href="/contact" class="subtitle link-footer">Contact</a>
        </li>
       <li class="xs-m-b-8 sm-m-b-0">
          <a href="#0" class="subtitle link-footer">Blog</a>
        </li>
      </ul>
    </div>
  </div>
  <!--Social media & copyright-->
  <div class="container container-xl m-b-6">
    <div class="footer-info">
      <div class="footer-links">
        <a
          href="https://github.com/Uppercut-OSS"
          class="m-r-8"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="22"
            viewBox="0 0 24 24"
            fill="currentColor"
            stroke-width="2.25"
            class="ai ai-GithubFill"
          >
            <title>GitHub link icon</title>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.435 9.795 8.205 11.385.6.105.825-.255.825-.57 0-.285-.015-1.23-.015-2.235-3.015.555-3.795-.735-4.035-1.41-.135-.345-.72-1.41-1.23-1.695-.42-.225-1.02-.78-.015-.795.945-.015 1.62.87 1.845 1.23 1.08 1.815 2.805 1.305 3.495.99.105-.78.42-1.305.765-1.605-2.67-.3-5.46-1.335-5.46-5.925 0-1.305.465-2.385 1.23-3.225-.12-.3-.54-1.53.12-3.18 0 0 1.005-.315 3.3 1.23.96-.27 1.98-.405 3-.405s2.04.135 3 .405c2.295-1.56 3.3-1.23 3.3-1.23.66 1.65.24 2.88.12 3.18.765.84 1.23 1.905 1.23 3.225 0 4.605-2.805 5.625-5.475 5.925.435.375.81 1.095.81 2.22 0 1.605-.015 2.895-.015 3.3 0 .315.225.69.825.57A12.02 12.02 0 0 0 24 12c0-6.63-5.37-12-12-12z"
            ></path>
          </svg>
        </a>
        <a
          href="https://www.linkedin.com/company/uppercut-io/"
          class="m-r-8"
          target="_blank"
          rel="noopener noreferrer"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" stroke-width="2" class="ai ai-LinkedinBoxFill"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 2.838A1.838 1.838 0 0 1 2.838 1H21.16A1.837 1.837 0 0 1 23 2.838V21.16A1.838 1.838 0 0 1 21.161 23H2.838A1.838 1.838 0 0 1 1 21.161V2.838zm8.708 6.55h2.979v1.496c.43-.86 1.53-1.634 3.183-1.634 3.169 0 3.92 1.713 3.92 4.856v5.822h-3.207v-5.106c0-1.79-.43-2.8-1.522-2.8-1.515 0-2.145 1.089-2.145 2.8v5.106H9.708V9.388zm-5.5 10.403h3.208V9.25H4.208v10.54zM7.875 5.812a2.063 2.063 0 1 1-4.125 0 2.063 2.063 0 0 1 4.125 0z"/></svg>
        </a>
        <a
          href="https://www.tiktok.com/@uppercut_io"
          class="m-r-8"
          target="_blank"
          rel="noopener noreferrer"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" stroke-width="2" class="ai ai-TiktokFill"><path d="M19.321 5.562a5.124 5.124 0 0 1-.443-.258 6.228 6.228 0 0 1-1.137-.966c-.849-.971-1.166-1.956-1.282-2.645h.004c-.097-.573-.057-.943-.05-.943h-3.865v14.943c0 .2 0 .399-.008.595 0 .024-.003.046-.004.073 0 .01 0 .022-.003.033v.009a3.28 3.28 0 0 1-1.65 2.604 3.226 3.226 0 0 1-1.6.422c-1.8 0-3.26-1.468-3.26-3.281 0-1.814 1.46-3.282 3.26-3.282.341 0 .68.054 1.004.16l.005-3.936A7.178 7.178 0 0 0 4.76 10.71a7.583 7.583 0 0 0-1.655 2.04c-.163.281-.779 1.412-.853 3.246-.047 1.04.266 2.12.415 2.565v.01c.093.262.457 1.158 1.049 1.913a7.856 7.856 0 0 0 1.674 1.58v-.01l.009.01c1.87 1.27 3.945 1.187 3.945 1.187.359-.015 1.562 0 2.928-.647 1.515-.718 2.377-1.787 2.377-1.787a7.43 7.43 0 0 0 1.296-2.153c.35-.92.466-2.022.466-2.462V8.273c.047.028.672.441.672.441s.9.577 2.303.952c1.006.267 2.363.324 2.363.324V6.153c-.475.052-1.44-.098-2.429-.59z"/></svg>
        </a>
      </div>
      <small
        >Made with ❤️ in <a href="https://www.visitknoxville.com/">Knoxville, TN</a> @ 2023 Uppercut. All Rights Reserved.
      </small>
    </div>
  </div>
  <script type="text/javascript">
    _linkedin_partner_id = "5018532";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script><script type="text/javascript">
    (function(l) {
    if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
    window.lintrk.q=[]}
    var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript";b.async = true;
    b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s);})(window.lintrk);
    window.lintrk('track', { conversion_id: 12977356 });
    </script>
    <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=5018532&fmt=gif" />
    </noscript>
</footer>
