<!--Nav for large screens-->
		<header class="sticky flex items-center bg-white dark-bg-black h-20  lg-p-y-8">
			<nav class="container container-xl flex justify-between items-center gap-8"
					 aria-label="primary nav">
				<!--Links-->
				<ul class="flex items-center gap-8">
					<!--Logo-->
					<li class="m-r-8">
						<a href="/" class="flex items-center">
							<img alt="Zauberhaft Logo" src="/logo-40x41.png" class="w-10 h-10" width="100" height="100">
							<div class="m-l-4 flex items-start flex-column xs-d-none sm-flex">
								<h1 class="h5 font-bold line-h-lg">Uppercut</h1>
							</div>
						</a>
					</li>
					<li class="xs-d-none sm-flex">
						<!--Toggle for dark mode
						<fieldset>
							<legend class="visually-hidden">Toggle for dark mode</legend>
							<input class="toggle-input visually-hidden"
										 id="switch"
										 type="checkbox"
										 role="switch">
							<label for="switch"
										 class="toggle-switch"
										 aria-label="toggle switch">
								<span class="visually-hidden">Label for the toggle</span>
								<span class="toggle-round"></span>
							</label>
						</fieldset>-->
					</li>
				</ul>
				
				<ul id="mobile-menu" class="xs-flex md-flex items-center gap-5 md-bg-gray-50 dark-bg-gray-800 dark-white md-p-r-4 md-p-l-6 md-p-y-3 radius-sm flex-wrap">
					<ul class="flex flex-col items-center gap-5">
						<!--Button-->
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/blog">Blog</a>
						</li>
						<li>
							<a href="/uppercut-vs-the-others">Why Us</a>
						</li>
						<li>
							<a href="https://portal.tryuppercut.com/">Portal</a>
						</li>
					</ul>
					<li class="xs-d-none md-flex m-r-8">
						<a href="https://portal.tryuppercut.com/login?step=signUp/"
							 class="btn black
							 dark-white dark-bg-magenta-400 dark-border-magenta-400 btn-sm"
							 aria-label="schedule a call"
							 role="button">
							Create an Account
						</a>
					</li>
				</ul>
			</nav>
		</header>

<style>
	@media screen and (max-width: 768px) {
  #mobile-menu li a {
    font-size: 14px; /* Adjust the font size for smaller screens */
  }
}
</style>