<!--Nav for large screens-->
		<header class="sticky flex items-center bg-white dark-bg-black h-20  lg-p-y-8">
			<nav class="container container-xl flex justify-between items-center gap-8"
					 aria-label="primary nav">
				<!--Links-->
				<ul class="flex items-center gap-8">
					<!--Logo-->
					<li class="m-r-8">
						<a href="/" class="flex items-center">
							<img alt="Uppercut Logo" src="/logo.png" class="w-10 h-10" width="100" height="100">
							<div class="m-l-4 flex items-start flex-column xs-d-none sm-flex">
								<h1 class="h5 font-bold line-h-lg">Uppercut</h1>
							</div>
						</a>
					</li>
					<li class="xs-d-none sm-flex">
						<!--Toggle for dark mode
						<fieldset>
							<legend class="visually-hidden">Toggle for dark mode</legend>
							<input class="toggle-input visually-hidden"
										 id="switch"
										 type="checkbox"
										 role="switch">
							<label for="switch"
										 class="toggle-switch"
										 aria-label="toggle switch">
								<span class="visually-hidden">Label for the toggle</span>
								<span class="toggle-round"></span>
							</label>
						</fieldset>-->
					</li>
				</ul>
				
				<ul id="mobile-menu" class="xs-flex md-flex items-center gap-5 md-bg-gray-50 dark-bg-gray-800 dark-white md-p-r-4 md-p-l-6 md-p-y-3 radius-sm flex-wrap">
					<ul class="flex flex-col items-center gap-5">
						<!--Button-->
						<li>
							<a href="/">Home</a>
						</li>
						<li class="relative">
							<a href="">Resources</a>
							<ul class="absolute hidden md:block md:mt-2 bg-white dark:bg-gray-800 dark:border dark:border-gray-600 dark:text-white border border-gray-200 shadow-lg rounded-lg">
								<li>
									<a href="/blog">Blog</a>
								</li>
								<li>
									<a href="/ebooks">Ebooks</a>
								</li>
								<li>
									<a href="/webinars">Webinars</a>
								</li>
							</ul>
						</li>
						<li class="relative">
							<a href="">Solutions</a>
							<ul class="absolute hidden md:block md:mt-2 bg-white dark:bg-gray-800 dark:border dark:border-gray-600 dark:text-white border border-gray-200 shadow-lg rounded-lg">
								<li>
									<a href="/fractional-partner-ops">Fractional PartnerOps</a>
								</li>
								<li>
									<a href="/attribution-optimization">Attribution Optimization</a>
								</li>
								<li>
									<a href="/experienial-partnerships ">Experiential Partnerships</a>
								</li>
								<li>
									<a href="/our-process">Our Process</a>
								</li>
							</ul>
						</li>
						<li class="relative">
							<a href="/partners">Partners</a>
								<ul class="absolute hidden md:block md:mt-2 bg-white dark:bg-gray-800 dark:border dark:border-gray-600 dark:text-white border border-gray-200 shadow-lg rounded-lg">
									<li>
										<a href="/service-provider-partnerships">Service Providers</a>
									</li>
									<li>
										<a href="/prm-provider-partnerships">PRM Providers</a>
									</li>
									<li>
										<a href="/unified-api-partnerships">Unified API Companies</a>
									</li>
								</ul>
								<style>
									/* Style for the dropdown menu */
									ul.absolute {
									min-width: 150px; /* Adjust the width as needed */
									top: 110%; /* Position it below the parent */
									left: -70px;
									z-index: 1000;
									position: absolute;
									background-color: white;
									border: 1px solid #ccc;
									box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
									display: none; /* Hide by default */
									}
		
									/* Position the dropdown relative to its parent */
									li.relative {
									position: relative;
									}
		
									/* Show the dropdown on hover or focus */
									li.relative:hover ul.absolute,
									li.relative:focus-within ul.absolute {
									display: block;
									}
		
									/* Style for the dropdown items */
									ul.absolute li {
									padding: 8px 16px;
									border-bottom: 1px solid #ccc;
									}
		
									/* Style for the dropdown item links */
									ul.absolute li a {
									color: #333;
									text-decoration: none;
									display: block;
									}
		
									/* Style for hover effect on dropdown items */
									ul.absolute li:hover {
									background-color: #f0f0f0;
									}
								</style>
						</li>
					</ul>
					<li class="xs-d-none md-flex m-r-8">
						<a href="https://calendly.com/jbohrman/30min"
							 class="btn black
							 dark-white dark-bg-magenta-400 dark-border-magenta-400 btn-sm"
							 aria-label="schedule a call"
							 role="button"
							 id="header-button">
							Chat with us
						</a>
						<script>
						document.addEventListener("DOMContentLoaded", function () {
							// Find the button by its ID
							var button = document.getElementById("header-button");
						
							// Add a click event listener to the button
							button.addEventListener("click", function () {
								// Track the event using Segment
								analytics.track("Header Button Clicked", {
								// You can include additional properties here
								button_text: "Chat with us",
								value: 12.75,
								currency: "USD",
								// Add any other relevant properties
								});
							});
						});
						</script>
					</li>
				</ul>
			</nav>
		</header>

<style>
	@media screen and (max-width: 768px) {
  #mobile-menu li a {
    font-size: 14px; /* Adjust the font size for smaller screens */
  }
}
</style>