<!--Nav for large screens-->
		<header class="sticky flex items-center bg-white dark-bg-black h-20  lg-p-y-8">
			<nav class="container container-xl flex justify-between items-center gap-8"
					 aria-label="primary nav">
				<!--Links-->
				<ul class="flex items-center gap-8">
					<!--Logo-->
					<li class="m-r-8">
						<a href="/" class="flex items-center">
							<img alt="Zauberhaft Logo" src="/logo-40x41.png" class="w-10 h-10" width="100" height="100">
							<div class="m-l-4 flex items-start flex-column xs-d-none sm-flex">
								<h1 class="h5 font-bold line-h-lg">Uppercut</h1>
							</div>
						</a>
					</li>
					<li class="xs-d-none sm-flex">
						<!--Toggle for dark mode
						<fieldset>
							<legend class="visually-hidden">Toggle for dark mode</legend>
							<input class="toggle-input visually-hidden"
										 id="switch"
										 type="checkbox"
										 role="switch">
							<label for="switch"
										 class="toggle-switch"
										 aria-label="toggle switch">
								<span class="visually-hidden">Label for the toggle</span>
								<span class="toggle-round"></span>
							</label>
						</fieldset>-->
					</li>
				</ul>
				
				<ul id="mobile-menu" class="xs-flex md-flex items-center gap-5 md-bg-gray-50 dark-bg-gray-800 dark-white md-p-r-4 md-p-l-6 md-p-y-3 radius-sm flex-wrap">
					<ul class="flex flex-col items-center gap-5">
						<!--Button-->
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/blog">Blog</a>
						</li>
						<li>
							<a href="/uppercut-vs-the-others">Why Us</a>
						</li>
						<li>
							<a href="https://portal.tryuppercut.com/">Portal</a>
						</li>
					</ul>
					<li class="xs-d-none md-flex m-r-8">
						<a href="https://meetings.hubspot.com/james-bohrman/"
							 class="btn black
							 dark-white dark-bg-magenta-400 dark-border-magenta-400 btn-sm"
							 aria-label="schedule a call"
							 role="button">
							Schedule a call
							<svg xmlns="http://www.w3.org/2000/svg" class="icon m-l-3 icon-tabler icon-tabler-phone-call" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"></path>
								<path d="M15 7a2 2 0 0 1 2 2"></path>
								<path d="M15 3a6 6 0 0 1 6 6"></path>
							</svg>
						</a>
					</li>
				</ul>
			</nav>
		</header>

<style>
	@media screen and (max-width: 768px) {
  #mobile-menu li a {
    font-size: 14px; /* Adjust the font size for smaller screens */
  }
}
</style>