---
import Layout from '~/layouts/LandingLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Request our preseed pitch deck',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero
    id="resin-hero"
    tagline="Request our preseed materials"
    title="Want to invest in Resin?"
    subtitle="We're currently raising our preseed round. Request our pitch deck to learn more about our vision."
  />

  <div class="flex flex-wrap md-w-40 justify-center">
    <iframe width="1200" height="900" src="https://7cdbb5bd.sibforms.com/serve/MUIFAOSwJuK_Be-s4m621b9Gf2iIjyjMBU23ayZNA-2mu6bZihr5uxQUrfukg-xW1c4QYiF6swXT9fl7jz7Qf2hBFQd8Q4Gvd715DNJXTt8yppVak_OrzgTF51tXLgMN0_xypExyuNff2HX1nUVNCQSFYB8h-W2Pd67BInOIz362wMgNRI9xW3HxX2sBuxCCyNtCG4AQ831wiclA" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 60%; max-height: 60%;"></iframe>
</div>
<CallToAction
id="resin-cta"
title="Coming soon"
subtitle="Resin has an expected launch date around Early 2024! Join the waiting list to be notified of updates"
actions={[
  {
    variant: 'primary',
    text: 'Chat Now',
    href: '#brevoConversationsExpanded',
    icon: 'tabler:message-circle',
  },
]}
/>
</Layout>