---
import Layout from '~/layouts/LandingLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Resin - Partner Intent Platform',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero
    id="resin-hero"
    tagline="Coming soon!"
    title="Resin: Partner Collaboration Platform"
    subtitle="Resin is the first Partner Collaboration Platform with baked in ecosystem intent mapping functionality. Co-sell on incoming intent from your partners, and tag-team on deals in real time."
    actions={[
      { variant: 'primary', text: 'Join the waiting list', href: 'https://uypfr5suyzz.typeform.com/to/H7De7dZh', icon: 'tabler:square-rounded-arrow-right' },
      { text: 'Join Pre-seed', href: '/platform/request-deck', icon: 'tabler:rocket' },
    ]}
  />

  <div class="flex flex-wrap md-w-40 justify-center">
    <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="900" height="650" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FNach0N9pUN6NtAXswQSaoq%2F%25E2%259D%2596-Untitled-UI-%25E2%2580%2593-FREE-Figma-UI-kit-and-design-system-(Community)%3Fnode-id%3D6421-135423%26mode%3Ddesign%26t%3DV4H53ae3ZDFQkP4Z-1"></iframe>
</div>

  <CallToAction
    id="resin-cta"
    title="Coming soon"
    subtitle="Resin has an expected launch date around Early 2024! Join the waiting list to be notified of updates"
    actions={[
      {
        variant: 'primary',
        text: 'Join the waiting list',
        href: 'https://uypfr5suyzz.typeform.com/to/H7De7dZh',
        icon: 'tabler:calendar-event',
      },
      { text: 'Join Pre-seed', href: '/request-deck', icon: 'tabler:rocket' },
    ]}
  />
</Layout>
