---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

const metadata = {
  title: 'Uppercut - Partner Revenue Attribution Support',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Revenue Attribution Support"
    id="attribution-hero"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Schedule a consultation',
        href: 'https://calendly.com/jbohrman/30min',
        icon: 'tabler:calendar-event',
      },
      { text: 'Learn more', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      Establish <span class="hidden sm:inline">a bulletproof </span> <span
        class="text-primary dark:text-white highlight">attribution model</span
      > with Uppercut
    </Fragment>

    <Fragment slot="subtitle">
      Wrangle your most disparate data sources with <span class="font-semibold">Uppercut's</span> powerful partner revenue attribution blueprint 
    </Fragment>
<!-- 
    <Fragment slot="image">
      <div class="relative h-0 pb-[56.25%]">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/dsTXcSeAZq8"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"
        >
        </iframe>
      </div>
    </Fragment>-->
  </Hero>

  <!-- Features2 Widget ************** 

  <Features2
    title="About us"
    subtitle="We believe in the magic of turning dreams into stunning realities. Founded by passionate developers with a shared vision, we set out to simplify the website creation process. Our templates bring together the innovation of Astro 3.0 and the versatility of Tailwind CSS, enabling you to express your unique brand identity like never before."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** 

  <Stats
    title="Discover the impressive impact of Astrowind"
    subtitle="The numbers below reflect the trust our users have placed in us and the remarkable outcomes we've helped them achieve."
    stats={[
      { title: 'Downloads', amount: '182K' },
      { title: 'Websites Launched', amount: '87' },
      { title: 'User Ratings', amount: '4.8' },
      { title: 'Satisfied Clients', amount: '116K' },
    ]}
  />

  <!-- Brands Widget ****************** -->

  <Brands
    title="Our Operational Stack"
    subtitle="At Uppercut, we believe that you need the right tools to build bridges. That's why we've partnered with the best in the business to help build your programs."
    icons={[]}
    images={[
      {
        src: 'https://asset.brandfetch.io/idxuuy3Q6N/idqlW_e7vT.svg?updated=1693817335844',
        alt: 'Reveal',
      },
      {
        src: 'https://asset.brandfetch.io/id_C9D4CU1/idAaahqnQ9.svg?updated=1691589700372',
        alt: 'Mindmatrix',
      },
      {
        src: 'https://asset.brandfetch.io/idiousYjQz/id-gt79UOL.svg?updated=1667641594242',
        alt: 'Segment',
      },
      {
        src: 'https://asset.brandfetch.io/idN7LWxlVW/idf8mSWHHu.svg?updated=1667893223850',
        alt: 'Branch',
      },
      {
        src: 'https://asset.brandfetch.io/idPfQccWRj/idsjGEoe2J.svg?updated=1667562745492',
        alt: 'Clearbit',
      },
      {
        src: 'https://asset.brandfetch.io/idUlnE5zQC/idjypEm_lq.svg?updated=1668072999953',
        alt: 'Looker',
      },
      {
        src: 'https://asset.brandfetch.io/idVE84WdIN/iduMSR2RvZ.svg?updated=1667559911541',
        alt: 'Salesforce',
      },
      {
        src: 'https://asset.brandfetch.io/idNMs_nMA0/idDC3DWoZ8.svg?updated=1667563370508',
        alt: 'Zapier',
      },
      {
        src: 'https://asset.brandfetch.io/idninYwdlo/idQdpo_vnx.svg?updated=1694687718831',
        alt: 'Crossbeam',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="What we provide for you"
    subtitle="We can make attribution a cakewalk so you can focus on providing your partners with the best experience possible."
    items={[
      {
        title: 'Analytics Support',
        description:
          'Let us crunch the numbers to help you understand the performance of your partner program and identify which relationships are driving the most revenue.',
        icon: 'flat-color-icons:statistics',
      },
      {
        title: 'Dashboards',
        description:
          'Provide interactive demos and previews that allow customers to see how their chosen template will look and function before making a purchase.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Data Operatiions',
        description:
          'We can set up robust data processing pipelines using CDPs such as Segment to unify and consolidate your data so you are confident in your attribution.',
        icon: 'flat-color-icons:factory',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#FFEDF4] dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features Widget *************** 

  <Features
    id="features"
    title="Main features of our templates"
    subtitle="Possess several key characteristics to effectively cater to the needs of startups and entrepreneurs."
    columns={3}
    items={[
      {
        title: 'Modern and Professional Design',
        description:
          'Have a contemporary design that reflects current design trends and gives a professional impression.',
        icon: 'tabler:artboard',
      },
      {
        title: 'Responsive and Mobile-Friendly',
        description: 'Adapt seamlessly to different screen sizes and devices to ensure a consistent experience.',
        icon: 'tabler:picture-in-picture',
      },
      {
        title: 'Customizability',
        description:
          'Easily customizable, allowing users to adapt the design, colors, typography, and content to match their brand identity.',
        icon: 'tabler:adjustments-horizontal',
      },
      {
        title: 'Fast Loading Times',
        description: 'Optimized for speed to ensure a smooth user experience and favorable search engine rankings.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          'Incorporate SEO best practices in template structure and code to improve visibility in search engine results.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Compatibility',
        description: 'The templates work seamlessly across various content management systems and website builders.',
        icon: 'tabler:plug-connected',
      },
    ]}
  />
    -->

  <!-- Pricing Widget ****************** -->
  
  <!-- FAQs Widget ******************* -->

  <FAQs
    id="attribution-fags"
    title="Frequently Asked Questions"
    items={[
      {
        title: 'What types of attribution tools do you use?',
        description:
          'Our team is well versed in the use of tools such as Segment, Hubspot, and the Salesforce suite of products. We can help you set up your attribution model using the tools you already have in place or help you select the right tools for your needs.',
      },
      {
        title: 'What type of engagement do you offer?',
        description:
          'For our attribution engagements, we either offer quarterly retainers for ongoing support or one-time projects for specific needs. We can also provide a combination of both depending on your needs.',
      },
      {
        title: 'Will I own the infrastructure?',
        description:
          'Yes, the infrastructure we set up for you will belong 100% to your organization. We will provide you with all the necessary documentation and training to ensure you are able to maintain and update the infrastructure as needed.',
      },
      {
        title: 'How engaged does my team need to be?',
        description:
          'We can provide as much or as little support as you need. We can work with your team to set up the infrastructure and then hand it off to you to maintain. We can also provide ongoing support to ensure your attribution model is always up to date and accurate.',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#FFEDF4] dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Features3 Widget ************** -->
<!--
  <Features3
    title="Let us know how we can help"
    subtitle="We’re here to help and answer any question you might have."
    columns={4}
    items={[
      {
        title: 'Phone',
        icon: 'tabler:phone',
        callToAction: {
          target: '_blank',
          text: 'Call us',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'Write to us',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chat with sales',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Start chatting',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chat with support',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Start chatting',
          href: '/',
          variant: 'link',
        },
      },
    ]}
  />
    -->
  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[{
      variant: "primary",
      id: "attribution-cta",
      target: '_blank',
      text: 'Chat with us',
      href: 'https://wa.me/message/DUSWAIWLJG6DO1',
      icon: 'tabler:brand-whatsapp',
    }]}
  >
    <Fragment slot="title">Start the process today</Fragment>

    <Fragment slot="subtitle">
      Chat with a member of our team to learn more about how we can help you establish your partner revenue attribution process.
    </Fragment>
  </CallToAction>
</Layout>
