---
import '~/assets/styles/tailwind.css';

import { I18N } from "~/utils/config";

import CommonMeta from '~/components/common/CommonMeta.astro';
import Favicons from '~/components/Favicons.astro';
import CustomStyles from "~/components/CustomStyles.astro"
import ApplyColorMode from "~/components/common/ApplyColorMode.astro"
import Metadata from '~/components/common/Metadata.astro';
import SiteVerification  from "~/components/common/SiteVerification.astro"
import Analytics  from "~/components/common/Analytics.astro"
import BasicScripts from '~/components/common/BasicScripts.astro';

import type { MetaData as MetaDataType } from '~/types';

export interface Props {
  metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!DOCTYPE html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">

  <head>
    <CommonMeta />
    <Favicons />
    <CustomStyles />
    <ApplyColorMode />
    <Metadata {...metadata} />
    <SiteVerification />
    <Analytics />
    <!-- Ortto uppercut capture code -->
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript">
  (function() {
      window.sib = {
          equeue: [],
          client_key: "ketcq7lj1snywf2bs7q6k6ul"
      };
      /* OPTIONAL: email for identify request*/
      // window.sib.email_id = 'example@domain.com';
      window.sendinblue = {};
      for (var j = ['track', 'identify', 'trackLink', 'page'], i = 0; i < j.length; i++) {
      (function(k) {
          window.sendinblue[k] = function() {
              var arg = Array.prototype.slice.call(arguments);
              (window.sib[k] || function() {
                      var t = {};
                      t[k] = arg;
                      window.sib.equeue.push(t);
                  })(arg[0], arg[1], arg[2]);
              };
          })(j[i]);
      }
      var n = document.createElement("script"),
          i = document.getElementsByTagName("script")[0];
          n.type = "text/javascript", n.id = "sendinblue-js",
          n.async = !0, n.src = "https://sibautomation.com/sa.js?key="+ window.sib.client_key,
          i.parentNode.insertBefore(n, i), window.sendinblue.page();
  })();
  </script>
  
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/40093919.js"></script>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
<!-- End of HubSpot Embed Code -->
    <script src="https://tag.clearbitscripts.com/v1/pk_a60ba1c571a9a08595b30061b37d5a9f/tags.js" referrerpolicy="strict-origin-when-cross-origin"></script>
    <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=RzquL2"></script>
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <slot />
    <div data-fillout-id="bHn1ZhE6oLus" data-fillout-embed-type="popup" data-fillout-button-text="Join the waiting list!" data-fillout-button-color="#FCB900" data-fillout-button-float="bottom-right" data-fillout-inherit-parameters></div><script src="https://server.fillout.com/embed/v1/"></script>
    <BasicScripts />

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
